<div class="container my-5">
    <h4 class="mb-5 text-black">
        <img src="small-image/money-bag-svgrepo-com.svg" width="30px" alt="profile" />
        Earnings
    </h4>
    <hr class="mb-5">
    <table class="table table-striped table-hover align-middle">

        <tbody>
            <tr>
                <td>Withdrawal Balance</td>
                <td *ngIf="availableBalance!=null">{{availableBalance}}EGP</td>
                <td *ngIf="availableBalance==null">0 EGP</td>
                <td *ngIf="availableBalance!=0">
                   <a  routerLink="/user/seller-withdraw">Withdraw
                    <i class="fa-solid fa-arrow-right ms-1 mt-1"></i>
                    </a>
                   
                </td>
                <td *ngIf="availableBalance==0">                 
                </td>
            </tr>
            <tr>
                <td>Withdrawn Balance</td>
                <td *ngIf="withdrawnbalance!=null">{{withdrawnbalance}}EGP</td>
                <td *ngIf="withdrawnbalance==null">0 EGP</td>
                <td></td>
            </tr>
            <tr>
                <td>Upcoming Balanace</td>
                <td *ngIf="upcomingBalance!=null">{{upcomingBalance}}EGP</td>
                <td *ngIf="upcomingBalance==null">0 EGP</td>
                <td></td>

            </tr>
            <tr>
                <td>Total Earnings</td>
                <td>{{(availableBalance)+(upcomingBalance)+(withdrawnbalance)}}EGP</td>
                <td></td>

            </tr>
        </tbody>
    </table>
</div>