<div class="container pt-5">
    <div class="main">

        <div class=" col-12">
            <div class="cover-img ">
                <img style="width: 100%; height: 50vh;" src="mentor-single.png" alt="">
                <div class="profile-img ">
                    <img style="border-radius: 15px; max-width:256px; max-height:256px;" [src]="Profile.image" alt="">
                </div>
            </div>
            <div class="p-3 p-md-5 pt-5">
                <div class="info">
                    <div class="personal  ">
                        <div class="personal-info row gap-1 justify-content-between ">
                            <h2 class="col-md-6 col-12 mb-1 "><b>{{Profile.fullName}}</b></h2>
                            <div class="personal-btns d-md-flex d-none col-md-5 col-12 row gap-1 justify-content-end">
                                <button class="btn btn-secondary col-auto d-flex align-items-center">
                                    <i class="fas fa-heart" ></i><span > Save</span>
                                </button>
                                <button class="btn btn-primary col-auto d-flex align-items-center">
                                    <i class="fas fa-envelope" style="margin-right: 8px;"></i><span>  Message</span>
                                </button>

                            </div>

                            <div class="personal-btns mt-3 d-md-none d-flex gap-3">
                                <button class="btn btn-secondary col-auto d-flex align-items-center">
                                    <i class="fas fa-heart" ></i><b> Save</b>
                                </button>
                                <button class="btn btn-primary col-auto d-flex align-items-center">
                                    <i class="fas fa-envelope" ></i><b>  Message</b>
                                </button>
                            </div>


                    </div>
                    <div class="rating row mt-3 mb-2 ">
                        <p class="col-12 col-md-3 mb-1"><span><i class="fas fa-star"
                                    style="line-height: 1; color:#f59e0b;"></i>
                                <b>{{Profile.rate}}</b> ({{Profile.reviewNumber}} Reviews)</span></p>
                        <p class="col-12 col-md-3 mb-1"><span><i class="fas fa-gavel"
                                    style="line-height: 1; color: #754ffe;"></i>
                                <b> +{{Profile.auctionsNumber}}</b> Auction</span></p>
                        <p class="col-12 col-md-3 mb-1"><span><i class="fas fa-location-dot"
                                    style="line-height: 1; color: #dc2626;"></i> {{Profile.address}}</span></p>
                    </div>

                </div>
                <h5 class="pt-3 pb-2" ><b>Categories</b></h5>
                <div class="skills">
@for( Cat of Profile.favCategories; track $index){
    <div class="d-flex flex-row align-items-center justify-content-center">
        <a [routerLink]="['../action/auctionlist', Cat.name]" class="text-decoration-none">
          <img [src]="Cat.icon" alt="" style="width:20px">
        <div>
          <p class="pt-1 fw-semibold opacity-75" style="font-size:13px;">{{Cat.name}}</p>
        </div>
      </a>
      </div>
}
                </div>
            </div>

        </div>
    </div>
    <div class="row">
    @if(Profile.isSeller == true && Profile.latestAuctions.length != 0){
        <section class="py-5  position-relative parent-of-card">
            <div class="container pt-2">
              <div class="mt-4 d-flex align-items-center">
                <p class="mt-0 fs-2  text-decoration-none">Latest Auctions</p>
          
              </div>
              <div class="feature-parent-card">
                <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
                  @for (auction of Profile.latestAuctions; track $index) {
                  <ng-template carouselSlide>
                    <div class="custom-product-card mt-3 me-2 border border-1">
                      <div class="position-relative">
                        <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                          <a [routerLink]="['../action/auction-details', auction.id]" class="text-decoration-none">
                            <div class="carousel-inner">
                              <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                              class="carousel-item" style="height: 30vh;">
                              <img [src]="image" class="d-block w-100 card-img-top"
                              alt="Auction item image">
                            </div>
                          </div>
                        </a>
                              <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          </div>
                          <div class="card-body p-3">
                            <p class="card-title fw-bold">{{auction.item.name}}</p>
                            <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                            <p class="bids">{{ auction.bids.length }} bids</p>
                            <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                            <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                            <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                          </div>
                        </div>
          
          
          
          
          
                  </ng-template>
                  }
                </owl-carousel-o>
              </div>
            </div>
          
          </section>
    }

    @if(Profile.wonAuctions.length != 0){
        <section class="py-5 position-relative parent-of-card">
            <div class="container pt-2">
              <div class="mt-4 d-flex align-items-center">
                <p class="mt-0 fs-2  text-decoration-none">Won Auctions</p>
          
              </div>
              <div class="feature-parent-card">
                <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
                  @for (auction of Profile.wonAuctions; track $index) {
                  <ng-template carouselSlide>
                    <div class="custom-product-card mt-3 me-2 border border-1">
                      <div class="position-relative">
                        <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                          <a [routerLink]="['../action/auction-details', auction.id]" class="text-decoration-none">
                            <div class="carousel-inner">
                              <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                              class="carousel-item" style="height: 30vh;">
                              <img [src]="image" class="d-block w-100 card-img-top"
                              alt="Auction item image">
                            </div>
                          </div>
                        </a>
                              <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          </div>
                          <div class="card-body p-3">
                            <p class="card-title fw-bold">{{auction.item.name}}</p>
                            <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                            <p class="bids">{{ auction.bids.length }} bids</p>
                            <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                            <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                            <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                          </div>
                        </div>
          
          
          
          
          
                  </ng-template>
                  }
                </owl-carousel-o>
              </div>
            </div>
          
          </section>
    }

    </div>
    <br>

    <br>
    <div class="row">
        <div class="col-12">
            <div class=" reviews p-5 pt-1 scroll-vertical" id="reviews">
                <div class="row align-items-center p-3  justify-content-between">
                    <h4 class="col-12 col-md-6 mt-3">
                        What Buyers say
                    </h4>
             </div>
                @for(review of Profile.reviews ;track $index){
                    <div>
                        <div class="d-flex p-2  justify-content-between">
                            <div class="d-flex gap-3">
                                <img [src]="review.profileImageUrl"
                                    style="width: 3.5rem;height: 3.5rem; border-radius: 50%; cursor: pointer;" alt=""
                                    [routerLink]= "['../user-profile',review.reviewerId]">
                                <div>
                                    <p class="mentor-name mb-1 mt-2"><b>{{review.reviewerName}}</b></p>
                                    <div class="rate-date d-md-flex flex-md-row d-flex flex-column">
                                       
                                        <p style="font-size: 13px"> {{review.reviewDate | date:'mediumDate'}}</p>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="rate d-flex me-1">
                            @for(star of stars ;track $index){
                             <i class="fas fa-star" style="line-height: 1;" [style.color]="star <= review.rating ? '#f59e0b' : '#e0e0e0' " ></i>
                            }

                         </div>
                        <p class="text-secondary">{{review.reviewText}}</p>
                        <hr>
                    </div>
                }



            </div>
        </div>


    </div>
    </div>
