.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
  }

  .search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .input-group {
    flex: 1;
  }

  .input-group input, .input-group select {
    width: 100%;
  }

  .table-wrapper {
    margin-top: 20px;
  }

  .header-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sort-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 2px black;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    margin-left: 5px;
  }

  .sort-icon.asc {
    border-color: green;
  }

  .sort-icon.desc {
    border-color: red;
  }

  .pagination {
    justify-content: center;
  }

  .page-item.disabled .page-link {
    pointer-events: none;
  }

  .page-item.active .page-link {
    font-weight: bold;
  }
  .event-image {
    width: 120px; /* حجم الصورة */
    height: auto;
    border-radius: 5px;
    margin: 10px 0; /* إضافة مسافة حول الصورة */
  }

  ul {
    padding-left: 20px; /* مسافة داخلية للقائمة */
    margin-top: 5px;
  }

  li {
    margin-bottom: 5px; /* المسافة بين العناصر داخل القائمة */
  }
  ngx-datatable /deep/ .datatable-body-row {
    margin-bottom: 15px; /* المسافة بين كل صف وصف */
  }

  ngx-datatable /deep/ .datatable-row-group {
    padding: 2px 0; /* إضافة مسافات داخل الصف */
  }

  ngx-datatable /deep/ .datatable-body-cell {
    padding: 15px 10px; /* التحكم في المسافات داخل الخلايا */
  }
  .search-container .input-group {
    margin-bottom: 20px; /* زيادة المسافة بين حقول الإدخال */

  } 
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-link {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
  }
  
  .page-link:hover {
    background-color: #0056b3;
  }
  
  .page-item.active .page-link {
    background-color: #0056b3;
    font-weight: bold;
  }
  
  .page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.5;

  }

  