<div class="container mt-4">
  <form [formGroup]="searchForm" class="search-container mb-4">
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Search by event name..." formControlName="name">
    </div>
    <div class="input-group mb-2">
      <input type="date" class="form-control" placeholder="Start Date" formControlName="startDate">
    </div>
    <div class="input-group mb-2">
      <input type="date" class="form-control" placeholder="End Date" formControlName="endDate">
    </div>
    <div class="input-group mb-2">
      <select class="form-control" formControlName="category">
        <option value="All">Select Category</option>
        @for (category of categories?.result; track $index) {
          <option [value]="category.name">{{ category.name }}</option>
        }
      </select>
    </div>
  </form>

  <div class="table-wrapper">
    <ngx-datatable
      #datatable
      class="bootstrap"
      [rows]="currentPageEvents"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column name="Event Name" prop="name" [width]="200"></ngx-datatable-column>
      <ngx-datatable-column name="Description" prop="description" [width]="285"></ngx-datatable-column>
      <ngx-datatable-column name="Start Date" prop="startDate" [width]="190" [cellTemplate]="dateTemplate"></ngx-datatable-column>
      <ngx-datatable-column name="End Date" prop="endDate" [width]="190" [cellTemplate]="dateTemplate"></ngx-datatable-column>
      <ngx-datatable-column name="Category" prop="category" [width]="160"></ngx-datatable-column>
      <ngx-datatable-column name="Event Image" [width]="190" [cellTemplate]="imageTemplate"></ngx-datatable-column>
    </ngx-datatable>

    <ng-template #dateTemplate let-value="value">
      {{ value ? (value | date:'yyyy-MM-dd') : '' }}
    </ng-template>

    <ng-template #imageTemplate let-row="row">
      <img [src]="row.imageUrl" alt="{{ row.name }}" class="event-image" />
    </ng-template>
  </div>




  <!-- Pagination Control -->
  <nav>
    <ul class="pagination pagination-controls">
      <li class="page-item" [class.disabled]="currentPage === 1" (click)="onPage(currentPage - 1)">
        <a class="page-link" href="javascript:void(0)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="i + 1 === currentPage" (click)="onPage(i + 1)">
        <a class="page-link">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="onPage(currentPage + 1)">
        <a class="page-link" href="javascript:void(0)">Next</a>
      </li>
    </ul>
  </nav>
</div>
