
  <div class="container">
    <div class="">
      <header class="">
        <div class="mb-3">
          <div class="d-flex justify-content-between">
          <h2 class="mb-3 mt-3 fw-bold">Hello, {{User.name}} !</h2>
          <div>
            <img [src]="User.image" class="rounded-5 mb-3" alt="profile-image" style="height:120px; width: 120px;">
          </div>
        </div>
          <!-- <div class="fw-semibold opacity-50 mb-4">Your customer number: 866465</div> -->
        </div>
      </header>
      <p class="fw-bold">"Profile" lets you keep track of your bidding activity, payment, shipping, change your settings and more.</p>

    <p class="fw-bold opacity-75">Please use the menu to find the page you want.</p></div>
  </div>



