
  <div class="container">
    <div class="">
      <header class="">
        <div class="">
          <div class="d-flex justify-content-between">
          <h2 class="mb-4 fw-bold">Hello, User Name!</h2>
          <div>
            <img src="https://via.placeholder.com/100" class="rounded-5" alt="profile-image">
          </div>
        </div>
          <div class="fw-semibold opacity-50 mb-4">Your customer number: 866465</div>
        </div>
      </header>
      <p class="fw-bold">"My pages" lets you keep track of your bidding activity, payment, shipping, change your settings and more.</p>

    <p class="fw-bold opacity-75">Please use the menu to find the page you want.</p></div>
  </div>



