<div class="content-wrapper">
    <div class="content">
        <div class="card card-default card-profile">
            <div class="card-header-bg"></div>
            <div class="card-body card-profile-body">

                <div class="profile-avatar">
                    <img class="rounded-circle"
                         [src]="sellerProfile.imageUrl"
                         alt="User Image">




                    <span class="h5 d-block mt-3 mb-2">
                        {{ sellerProfile?.name || buyerProfile?.name }}
                    </span>
                    <span class="d-block">
                        {{ sellerProfile?.email || buyerProfile?.email }}
                    </span>
                </div>
            </div>

            <div class="card-footer card-profile-footer">
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation" *ngIf="sellerProfile">
                        <button class="nav-link rounded-pill px-5" id="pills-seller-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-seller" type="button" role="tab" aria-controls="pills-seller"
                            [ngClass]="{'active': sellerProfile}" aria-selected="true">Seller</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link rounded-pill px-5" id="pills-buyer-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-buyer" type="button" role="tab" aria-controls="pills-buyer"
                            [ngClass]="{'active': !sellerProfile}" aria-selected="false">Buyer</button>
                    </li>
                </ul>



                <div class="tab-content" id="pills-tabContent">
                    <div *ngIf="sellerProfile" class="tab-pane fade show active" id="pills-seller" role="tabpanel" aria-labelledby="pills-seller-tab">
                        <div class="row mt-5">
                            <div class="col-xl-3 col-md-6">
                                <circle-progress
                                    [percent]="sellerProfile?.profileCompletion || 0"
                                    [radius]="60"
                                    [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#6c59f7'"
                                    [innerStrokeWidth]="10"
                                    [innerStrokeColor]="'#e6e6e6'"
                                    [title]="'Profile Completion'"
                                    [subtitleFontSize]="'12'"
                                    [titleFontSize]="'12'"
                                    [space]="-10"
                                    [subtitle]="getSubtitle(sellerProfile?.profileCompletion || 0)"

                                    [animation]="true">
                                </circle-progress>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <circle-progress
                                    [percent]="sellerProfile?.completedAuctions || 0"
                                    [radius]="60"
                                    [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#6c59f7'"
                                    [innerStrokeWidth]="10"
                                    [innerStrokeColor]="'#e6e6e6'"
                                    [title]="'Completed Auctions'"
                                    [subtitleFontSize]="'12'"
                                    [titleFontSize]="'12'"
                                    [space]="-10"
                                    [subtitle]="getSubtitle(sellerProfile?.completedAuctions || 0)"

                                    [animation]="true">
                                </circle-progress>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <circle-progress
                                    [percent]="sellerProfile?.unfinishedAuctions || 0"
                                    [radius]="60"
                                    [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#6c59f7'"
                                    [innerStrokeWidth]="10"
                                    [innerStrokeColor]="'#e6e6e6'"
                                    [title]="'Unfinished Auctions'"
                                    [subtitleFontSize]="'12'"
                                    [titleFontSize]="'12'"
                                    [space]="-10"
                                    [subtitle]="getSubtitle(sellerProfile?.unfinishedAuctions || 0)"

                                    [animation]="true">
                                </circle-progress>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <circle-progress
                                    [percent]="sellerProfile?.sellerRating || 0"
                                    [radius]="60"
                                    [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#6c59f7'"
                                    [innerStrokeWidth]="10"
                                    [innerStrokeColor]="'#e6e6e6'"
                                    [title]="'Seller Rating'"
                                    [subtitleFontSize]="'12'"
                                    [titleFontSize]="'12'"
                                    [space]="-10"
                                    [subtitle]="getSubtitle(sellerProfile?.sellerRating || 0)"

                                    [animation]="true">
                                </circle-progress>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="card border-0">
                                    <div class="card-header d-flex justify-content-between">
                                        <p class="fs-5">Sold Items</p>
                                        <div class="col-3">
                                            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
                                        </div>
                                        <div class="dropdown justify-content-end">
                                            <button class="btn border-0 dropdown-toggle fs-6 text-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Sort
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" (click)="sortItems('name'); $event.preventDefault();">Sort by Item Name</a></li>
                                                <li><a class="dropdown-item" (click)="sortItems('category'); $event.preventDefault();">Sort by Category</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table id="productsTable" class="table table-hover table-product" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Item Name</th>
                                                    <th>Category</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of filteredSellerItems | paginate: { itemsPerPage: 5, currentPage: sellerCurrentPage }">
                                                    <td class="py-0">
                                                        <ng-container *ngFor="let image of item.images">
                                                            <img [src]="image.src" alt="Item Image" class="img-large" />
                                                        </ng-container>
                                                    </td>

                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.category }}</td>
                                                    <td>{{ item.description }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <pagination-controls
                                                (pageChange)="sellerCurrentPage = $event"
                                                class="pagination pagination-controls"></pagination-controls>
                                                <span class="text-muted">
                                                    Page {{ sellerCurrentPage }} of {{ totalSellerPages }}
                                                </span>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- بيانات المشترى -->
                    <div class="tab-pane fade show" [ngClass]="{'active': !sellerProfile}" id="pills-buyer" role="tabpanel" aria-labelledby="pills-buyer-tab">                        <div class="row mt-5 justify-content-end text-center">
                            <div class="col-md-4">
                                <circle-progress
                                    [percent]="buyerProfile?.profileCompletion || 0"
                                    [radius]="60"
                                    [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#6c59f7'"
                                    [innerStrokeWidth]="10"
                                    [innerStrokeColor]="'#e6e6e6'"
                                    [title]="'Profile Completion'"
                                    [subtitleFontSize]="'12'"
                                    [titleFontSize]="'12'"
                                    [space]="-10"
                                    [subtitle]="getSubtitle(buyerProfile?.profileCompletion || 0)"
                                    [animation]="true">
                                </circle-progress>
                            </div>
                            <div class="col-md-4">
                                <circle-progress
                                    [percent]="buyerProfile?.wonAuctions || 0"
                                    [radius]="60"
                                    [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#6c59f7'"
                                    [innerStrokeWidth]="10"
                                    [innerStrokeColor]="'#e6e6e6'"
                                    [title]="'Won Auctions'"
                                    [subtitleFontSize]="'12'"
                                    [titleFontSize]="'12'"
                                    [space]="-10"
                                    [subtitle]="getSubtitle(buyerProfile?.wonAuctions || 0)"
                                    [animation]="true">
                                </circle-progress>
                            </div>
                            <div class="col-md-4">
                                <circle-progress
                                    [percent]="buyerProfile?.lostAuctions || 0"
                                    [radius]="60"
                                    [outerStrokeWidth]="10"
                                    [outerStrokeColor]="'#6c59f7'"
                                    [innerStrokeWidth]="10"
                                    [innerStrokeColor]="'#e6e6e6'"
                                    [title]="'Lost Auctions'"
                                    [subtitleFontSize]="'12'"
                                    [titleFontSize]="'12'"
                                    [space]="-10"
                                    [subtitle]="getSubtitle(buyerProfile?.lostAuctions || 0)"
                                    [animation]="true">
                                </circle-progress>
                            </div>
                        </div>


                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="card border-0">
                                    <div class="card-header d-flex justify-content-between">
                                        <p class="fs-5">Purchased Items</p>
                                        <div class="col-3">
                                            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="buyerSearchText">
                                        </div>
                                        <div class="dropdown justify-content-end">
                                            <button class="btn border-0 dropdown-toggle fs-6 text-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Sort
                                            </button>
                                            <div class="dropdown">

                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                                        <li><a class="dropdown-item" (click)="sortBuyerAuctions('name')">Sort by Item Name</a></li>
                                                        <li><a class="dropdown-item" (click)="sortBuyerAuctions('sellerName')">Sort by Seller Name</a></li>
                                                        <li><a class="dropdown-item" (click)="sortBuyerAuctions('startDate')">Sort by Start Date</a></li>
    <li><a class="dropdown-item" (click)="sortBuyerAuctions('endDate')">Sort by End Date</a></li>
                                                    </ul>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table id="purchasedProductsTable" class="table table-hover table-product" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Auction Item Name</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Seller Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let auction of filteredBuyerItems | paginate: { itemsPerPage: 5, currentPage: buyerCurrentPage }">
                                                    <td class="py-0">
                                                        <img [src]="auction.item.images[0]" alt="Auction Image">
                                                    </td>
                                                    <td>{{ auction.item.name }}</td>
                                                    <td>{{ auction.startDate | date }}</td>
                                                    <td>{{ auction.endDate | date }}</td>
                                                    <td>{{ auction.item.sellerName }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div *ngIf="filteredBuyerItems.length > 0" class="d-flex justify-content-between align-items-center mt-3">
                                            <pagination-controls (pageChange)="buyerCurrentPage = $event" class="pagination"></pagination-controls>
                                            <span class="text-muted">Page {{buyerCurrentPage}} of {{totalBuyerPages}}</span>
                                        </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
