<section class="bg-white p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 col-xl-8 col-xxl-8">
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h2 class="h3 text-center text-primary">Create Auction</h2>
                                </div>
                            </div>
                        </div>
                        <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="itemTitle" id="itemTitle"
                                            placeholder="Item Title" formControlName="itemTitle" minlength="4" maxlength="20"
                                            [ngClass]="{
                                                'is-invalid': auctionForm.controls['itemTitle'].invalid && auctionForm.controls['itemTitle'].touched
                                                }">
                                                <div class="invalid-feedback">
                                                    @if(auctionForm.controls['itemTitle'].hasError("required")){
                                                        <span>item Title is required </span>
                                                    }
                                                    <!--  @else if (auctionForm.controls['itemTitle'].hasError("minLength")) {
                                                        <span>Title must be at least 3 characters long </span> -->

                                                <!-- }@else if (auctionForm.controls['itemTitle'].hasError("maxLength")) {
                                                        <span> Title cannot be more than 20 characters long</span>
                                                    } -->
                                                 </div>
                                        <label for="itemTitle" class="form-label">Item Title</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="itemDescription" rows="4"
                                            style="height: 160px;" placeholder="Enter detailed description" minlength="10" maxlength="200" formControlName="itemDescription"
                                            [ngClass]="{
                                                'is-invalid': auctionForm.controls['itemDescription'].invalid && auctionForm.controls['itemDescription'].touched
                                                }"></textarea>
                                                <div class="invalid-feedback">
                                                    @if(auctionForm.controls['itemDescription'].hasError("required")){
                                                        <span>Item description is required </span>
                                                    }
                                                    <!-- @else if (auctionForm.controls['itemDescription'].hasError("MinLengthValidator")) {
                                                        <span>Description must be at least 10 characters long. </span>
                                                    }@else if (auctionForm.controls['itemDescription'].hasError("MaxLengthValidator")) {
                                                        <span>Description cannot be more than 150 characters long</span>
                                                    } -->
                                                 </div>
                                        <label for="itemDescription" class="form-label">Item Description</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="Category" style="height: 80px;"
                                        formControlName="category"
                                            [ngClass]="{
                                                'is-invalid': auctionForm.controls['category'].invalid && auctionForm.controls['category'].touched
                                                }">
                                            <option selected disabled>Select category</option>
                                            <option value="electronics">Electronics</option>
                                            <option value="fashion">Fashion</option>
                                            <option value="home">Home & Garden</option>
                                            <option value="sports">Sports</option>
                                            <option value="toys">Toys & Hobbies</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            @if(auctionForm.controls['category'].hasError("required")){
                                                <span>item category is required </span>
                                            }
                                         </div>
                                        <label for="Category">Category</label>
                                    </div>

                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="startingPrice"
                                            placeholder="Enter starting price" formControlName="startingPrice"
                                            [ngClass]="{
                                                'is-invalid': auctionForm.controls['startingPrice'].invalid && auctionForm.controls['startingPrice'].touched
                                                }">
                                                <div class="invalid-feedback">
                                                    @if(auctionForm.controls['startingPrice'].hasError("required")){
                                                        <span>starting price is required </span>
                                                    }@else if (auctionForm.controls['startingPrice'].hasError("pattern")) {
                                                        <span>strarting price must be a number </span>
                                                    }@else if(auctionForm.controls['reservePrice'].hasError("min")){
                                                        <span>strarting price must be more than 49 L.E</span>
                                                    }
                                                 </div>
                                        <label for="startingPrice" class="form-label">Starting Price</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="reservePrice"
                                            placeholder="Enter starting price" formControlName="reservePrice"
                                            [ngClass]="{
                                                'is-invalid': auctionForm.controls['reservePrice'].invalid
                                                }">
                                                <div class="invalid-feedback">
                                                  @if (auctionForm.controls['reservePrice'].hasError("pattern")) {
                                                        <span>reserve price must be a number </span>
                                                    }@else if(auctionForm.controls['reservePrice'].hasError("min")){
                                                        <span> reserve price must be more than 49 L.E </span>
                                                    }
                                                 </div>
                                        <label for="reservePrice" class="form-label">Reserve Price (Optional)</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formFileMultiple" class="form-label">Upload multiple Images</label>
                                        <input class="form-control" type="file" (change)="choose($event)"  id="formFileMultiple" multiple formControlName="images"
                                        [ngClass]="{
                                            'is-invalid': auctionForm.controls['images'].invalid && auctionForm.controls['images'].touched
                                            }">
                                            <div class="invalid-feedback">
                                              @if (auctionForm.controls['images'].hasError("required")) {
                                                    <span>Item images is required </span>
                                                }
                                             </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="duration" style="height: 80px;"  formControlName="duration"
                                        [ngClass]="{
                                            'is-invalid': auctionForm.controls['duration'].invalid && auctionForm.controls['duration'].touched
                                            }">
                                            <option selected disabled>Select duration</option>
                                            <option value="1">1 day</option>
                                            <option value="3">3 days</option>
                                            <option value="7">7 days</option>
                                            <option value="14">14 days</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            @if(auctionForm.controls['category'].hasError("required")){
                                                <span>Auction duration is required </span>
                                            }
                                         </div>
                                        <label for="duration">Auction duration</label>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="formFileMultiple" class="form-label">Upload item Warranty certificate or contract  (if has)</label>
                                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                      <label for="paymentMethods" class="form-label">Payment Methods</label>
                                      <div class="form-check mt-2">
                                        <input class="form-check-input" type="radio" id="paymentPaypal" formControlName="paymentMethod"
                                          name="paymentMethod" value="paypal"  [ngClass]="{
                                            'is-invalid': auctionForm.controls['paymentMethod'].invalid && auctionForm.controls['paymentMethod'].touched
                                        }">
                                        <label class="form-check-label" for="paymentPaypal">PayPal</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" id="stripe" formControlName="paymentMethod"   name="paymentMethod" value="stripe" [ngClass]="{
                                            'is-invalid': auctionForm.controls['paymentMethod'].invalid && auctionForm.controls['paymentMethod'].touched
                                        }">
                                        <label class="form-check-label" for="stripe">Stripe</label>
                                      </div>
                                      <div class="invalid-feedback">
                                      @if(auctionForm.controls['paymentMethod'].hasError("required")){
                                        <span>Payment Method is required</span>
                                      }
                                    </div>
                                    </div>
                                  </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn bsb-btn-2xl btn-primary" type="submit" [disabled]="auctionForm.invalid" >Create</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
