.hero-section {
  background-image:linear-gradient(#bebebe0e,#363636b4), url('/large_1x_theme_6ff6fb40a8.jpg');
  background-size: cover;
  background-position: center;
}

.why-choose-card{
  transition: transform 0.5s;
}


.why-choose-card:hover{
  transform: scale(1.05);
}

.featured-auction img {
  width: 100%;
  height: auto;
}
.featured-auction {
  transition: transform 0.3s;
}
.featured-auction:hover {
  transform: scale(1.05);
}
.featured-card-carsoule{
  transition:  transform 0.3s;
}

.feature-parent-card{
  transition: ease-in-out;
}




.bg-primary {
  background-color: #007bff !important;
}
.text-white {
  color: #fff !important;
}
.card-title {
  font-weight: bold;
}


.testimonial-blockquote {
  background: #f8f9fa;
  border-left: 5px solid #212222;
  margin: 20px 0;
}
.blockquote-footer {
  font-size: 0.9em;
  color: #6c757d;
}



/* Card Hover Effects */
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



/* Newsletter Section Style */
.newsletter-section .input-group {
  transition: all 0.7s ease;
}
.newsletter-section .input-group:hover {
  transform: scale(1.05);
}



/* testimonial style */
.container .testmonial {
  display: flex;
  justify-content: center;

}
.testmonialcard {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 500px;
  border: none;
  background-color: inherit;
/*   background-color: #6b6b6b; */
}

.testmonialcard .face {
  position: absolute;
  color: #002350;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgba(200, 200, 200, 0.06);
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.testmonialcard .face.front-face,
.testmonialcard .face.back-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d2d2d2;
}

.testmonialcard .face.front-face .profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.testmonialcard .face.front-face .name {
  letter-spacing: 2px;
}

.card .face.front-face .designation {
  font-size: 0.8rem;
  color: #ddd;
  letter-spacing: 0.8px;
}

.testmonialcard:hover .face.front-face {
  transform: rotateY(180deg);

}

.testmonialcard .face.back-face {
  position: absolute;
  background: rgba(255, 255, 255, 0.06);
  transform: rotateY(180deg);
  padding: 20px 30px;
  text-align: center;
  user-select: none;
}

.testmonialcard .face.back-face .fa-quote-left {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.2rem;
}

.testmonialcard .face.back-face .fa-quote-right {
  position: absolute;
  bottom: 35px;
  right: 25px;
  font-size: 1.2rem;
}

.testmonialcard:hover .face.back-face {
  transform: rotateY(360deg);
  background-color: #d2d2d2;
}
.rating-color{
  color:#fbc634 !important;
}


@media screen and (max-width: 600px) {
 .newsletter-image{
  display: none !important;
 }
}



.custom-card img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.small-text {
  font-size: 0.8rem;
  color: #6c757d;
  text-align: left;
}

.bids {
  font-size: 0.9rem;
  color: #6c757d;
  text-align: left;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #28a745;
  text-align: left;
}
.custom-product-card{
  background-color: #ffffff;

}

.category-icon{
  position: absolute;
  top: 20%;
  right: 10%;
  padding: 4px 7px;
  border-radius: 20px;
}
.card-icon{
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 4px 7px;
  border-radius: 20px;

}

.card-title-how{
  margin: 0 auto;
}
.card-body-work{
  background-color: #fafafa;
  border-radius: 20px;
  color:#007bff;
}

@media screen and (max-width: 991px){
  .last-card{
    margin-top: 20px;
  }
}
.event-section {
  background-size: cover;
  background-position: center;
}


.finix-text h6{
  color: #141414;
  font-weight: 400;
  font-size: 17px;
}
.finix-text h2 {
  font-weight: 400;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.finix-text p {
  color: #606060;
  font-size: 15px;
  line-height: 1.8rem;
}
.why-choose-us {
  margin-top: 90px;
}
.why-choose-us .finix-text h2 {
  font-weight: 500;
}
.why-choose-us .ct-btn {
  display: inline-block;
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  border-radius: 50%;
  font-size: 60px;
  background: #fff;
  position: absolute;
  top: 77%;
  right: 43%;
}
.why-choose-us .ct-btn::before {
  content: "";
  height: 85px;
  width: 85px;
  position: absolute;
  top: 0;
  left: 0;
  background: #141414;
  border-radius: 50%;
  animation: choose 1.6s ease-out infinite;
}
@keyframes choose{
  0%,30%{
      transform: scale(0);
      opacity: 1;
  }
  50%{
      transform: scale(1.5);
      opacity: .7;
  }
  100%{
      transform: scale(2);
      opacity: 0;
  }
}
.why-choose-us .ct-btn a{
  color: #141414;
}
.why-choose-us .feature-box {
  background: #ffffff00;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: .4s;
}
.why-choose-us .feature-box:hover {
  transform: translateY(-10px);
}
.why-choose-us .feature-box:hover .fbc-btn{
  background: #212529;
  color: #fff;
}
.why-choose-us .feature-box::before {
  content: "";
  position: absolute;
  top: -115px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 70%;
  background: #212529;
  border-radius: 50%;
}
.why-choose-us .feature-box:hover::before {
  background: #fff; /* Changes color on hover */
}
.why-choose-us .fbc-btn {
  display: inline-block;
  height: 90px;
  width: 90px;
  line-height: 90px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  color: #141414;
  position: relative;
  transition: .4s;
}
.active-feature{
  margin-top: -30px;
}
.why-choose-us .finix-text{
  position: relative;
}
.btn-hover-opacity {
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.btn-hover-opacity:hover {
  opacity: 0.5; /* Set opacity to 0.5 on hover */
}
.explore{
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 3px;
  
}

.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 400px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}
.custom-product-card{
  max-width: 200px;
}
.position-relative {
  position: relative;
}

.category-label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 1rem 2rem;
  opacity: 0.8;
}
