
<!-- Category Carousel Section -->
<div class="container mt-5 position-relative">
  <owl-carousel-o [options]="categoryCarousel" class="categoryCarousel">
   
    @for (category of Categories; track $index) {

    <ng-template carouselSlide>
      <div class="d-flex flex-column align-items-center">
        <a href="" class="text-decoration-none">
          <img [src]="'http://localhost:5204/'+ category.icon" alt="" style="width:20px">
        <div>
          <p class="pt-1 fw-semibold opacity-75" style="font-size:13px;">{{category.name}}</p>
        </div>
      </a>
      </div>
    </ng-template>
  }
  </owl-carousel-o>
</div>
<!-- Hero Section -->
<section class="container hero-section d-flex align-items-start" style="height: 90vh">
  <div class="align-self-center  m-auto text-center">
    <h4 class="display-4 mb-4 pt-5 text-light">Find and Bid on the Best Auctions</h4>

    <div>
      <a routerLink="../action/auction-list" class="btn explore btn-lg me-2 py-2 px-3 fs-6">Explore Auctions<i
          class="fa-solid fa-arrow-right ms-1 mt-1"></i></a>
    </div>
  </div>
</section>

<!-- Why Choose Section -->
<section class="py-5">
  <div class="container pt-5">
    <h2 class="mb-5 fw-bold pb-4">Why Choose AuctionMaster?</h2>
    <div class="row text-center">

      <div class="col-lg-3 mt-lg-0 mt-sm-3">
        <div class="card border-1 shadow-sm why-choose-card">

          <div class="card-body d-flex flex-column justify-content-evenly" style="height: 35vh">
            <div class="fs-4"><i class="fa-regular fa-comment"></i></div>
            <h4 class="card-title-how fw-bold">Wide Variety of Auctions</h4>
            <p class="card-text opacity-75 fw-semibold">
              From art and antiques to cars and collectibles, we have it all.
            </p>
          </div>

        </div>
      </div>

      <div class="col-lg-3 mt-lg-0 mt-sm-3">
        <div class="card border-1 shadow-sm why-choose-card">
          <div class="card-body d-flex flex-column justify-content-evenly" style="height: 35vh">
            <div class="fs-4"><i class="fa-solid fa-clipboard"></i></div>
            <h4 class="card-title-how fw-bold">Secure Bidding</h4>
            <p class="card-text opacity-75 fw-semibold">
              Your bids and transactions are secure with our top-notch
              encryption.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-lg-0 mt-sm-3">
        <div class="card border-1 shadow-sm why-choose-card">
          <div class="card-body d-flex flex-column justify-content-evenly" style="height: 35vh">
            <div class="fs-4"><i class="fa-solid fa-fire"></i></div>
            <h4 class="card-title-how fw-bold">Expert Auctioneers</h4>
            <p class="card-text opacity-75 fw-semibold">
              Our experienced auctioneers ensure a smooth and fair bidding
              process.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-lg-0 mt-sm-3">
        <div class="card border-1 shadow-sm why-choose-card">
          <div class="card-body d-flex flex-column justify-content-evenly" style="height: 35vh">
            <div class="fs-4"><i class="fa-solid fa-headset"></i></div>
            <h4 class="card-title-how fw-bold">24/7 Customer Support</h4>
            <p class="card-text opacity-75 fw-semibold">
              We're here to help you every step of the way, anytime you need us.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Popular Auctions Section -->
<section class="py-5 bg-light position-relative parent-of-card">
  <div class="container pt-2">
    <div class="mt-4 d-flex align-items-center">
      <p class="mt-0 fs-2 text-decoration-none">Popular Auctions</p>
      <a  [routerLink]="['/action/auction-list', mostBids]" class="btn d-flex align-items-center btn-hover-opacity ms-3 mb-2">        Show All
        <i class="fa-solid fa-arrow-right ms-2"></i>
      </a>
    </div>
    <div class="feature-parent-card">
      <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
        @for (auction of popularAuctions; track $index) {
        <ng-template carouselSlide>
          <div class="custom-product-card mt-3 me-2 border border-1">
            <div class="position-relative">
              <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                <a [routerLink]="['/action/auction-details', auction.id]" class="text-decoration-none">
                  <div class="carousel-inner">
                    <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                    class="carousel-item" style="height: 30vh;">
                    <img [src]="'http://localhost:5204/' + image" class="d-block w-100 card-img-top"
                    alt="Auction item image">
                  </div>
                </div>
              </a>
                    <button class="carousel-control-prev" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <a  (click)="addauctionToFav(auction.id)" style="cursor: pointer;">
                    <div class="card-icon bg-light" style="position: absolute; top: 10px; right: 10px;  z-index: 1200;">
                      <i class="fa-heart" [ngClass]="isauctionFav[auction.id] ? 'fas' : 'far'" [style.color]="isauctionFav[auction.id] ? 'red' : 'black'" ></i>
                    </div>
                  </a>
                </div>
                <div class="card-body p-3">
                  <p class="card-title fw-bold">{{auction.item.name}}</p>
                  <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                  <p class="bids">{{ auction.bids.length }} bids</p>
                  <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                  <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                  <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                </div>
              </div>





        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>

</section>

<!-- Live Auctions Section -->
<section class="py-5 bg-light position-relative parent-of-card">
  <div class="container pt-2">
    <div class="mt-4 d-flex align-items-center">
      <p class="mt-0 fs-2  text-decoration-none">Live Auctions</p>
      <a routerLink="../action/auction-list" class="btn d-flex align-items-center btn-hover-opacity ms-3 mb-2">
        Show All
        <i class="fa-solid fa-arrow-right ms-2"></i>
      </a>
    </div>
    <div class="feature-parent-card">
      <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
        @for (auction of activeAuctions; track $index) {
        <ng-template carouselSlide>
          <div class="custom-product-card mt-3 me-2 border border-1">
            <div class="position-relative">
              <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                <a [routerLink]="['/action/auction-details', auction.id]" class="text-decoration-none">
                  <div class="carousel-inner">
                    <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                    class="carousel-item" style="height: 30vh;">
                    <img [src]="'http://localhost:5204/' + image" class="d-block w-100 card-img-top"
                    alt="Auction item image">
                  </div>
                </div>
              </a>
                    <button class="carousel-control-prev" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <a  (click)="addauctionToFav(auction.id)" style="cursor: pointer;">
                    <div class="card-icon bg-light" style="position: absolute; top: 10px; right: 10px;  z-index: 1200;">
                      <i class="fa-heart" [ngClass]="isauctionFav[auction.id] ? 'fas' : 'far'" [style.color]="isauctionFav[auction.id] ? 'red' : 'black'" ></i>
                    </div>
                  </a>
                </div>
                <div class="card-body p-3">
                  <p class="card-title fw-bold">{{auction.item.name}}</p>
                  <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                  <p class="bids">{{ auction.bids.length }} bids</p>
                  <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                  <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                  <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                </div>
              </div>





        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>

</section>
<!-- New Arrivals Section -->
<section class="py-5 bg-light position-relative parent-of-card">
  <div class="container pt-2">
    <div class="mt-4 d-flex align-items-center">
      <p class="mt-0 fs-2  text-decoration-none">New Arrivals</p>
      <a  [routerLink]="['/action/auction-list', newArrival]" class="btn d-flex align-items-center btn-hover-opacity ms-3 mb-2">
        Show All
        <i class="fa-solid fa-arrow-right ms-2"></i>
      </a>
    </div>
    <div class="feature-parent-card">
      <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
        @for (auction of newArrivals; track $index) {
        <ng-template carouselSlide>
          <div class="custom-product-card mt-3 me-2 border border-1">
            <div class="position-relative">
              <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                <a [routerLink]="['/action/auction-details', auction.id]" class="text-decoration-none">
                  <div class="carousel-inner">
                    <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                    class="carousel-item" style="height: 30vh;">
                    <img [src]="'http://localhost:5204/' + image" class="d-block w-100 card-img-top"
                    alt="Auction item image">
                  </div>
                </div>
              </a>
                    <button class="carousel-control-prev" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <a  (click)="addauctionToFav(auction.id)" style="cursor: pointer;">
                    <div class="card-icon bg-light" style="position: absolute; top: 10px; right: 10px;  z-index: 1200;">
                      <i class="fa-heart" [ngClass]="isauctionFav[auction.id] ? 'fas' : 'far'" [style.color]="isauctionFav[auction.id] ? 'red' : 'black'" ></i>
                    </div>
                  </a>
                </div>
                <div class="card-body p-3">
                  <p class="card-title fw-bold">{{auction.item.name}}</p>
                  <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                  <p class="bids">{{ auction.bids.length }} bids</p>
                  <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                  <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                  <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                </div>
              </div>





        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>

</section>
<!-- Ending Soon Section -->
<section class="py-5 bg-light position-relative parent-of-card">
  <div class="container pt-2">
    <div class="mt-4 d-flex align-items-center">
      <p class="mt-0 fs-2  text-decoration-none">Ending soon</p>
      <a  [routerLink]="['/action/auction-list', endingsoon]" class="btn d-flex align-items-center btn-hover-opacity ms-3 mb-2">
        Show All
        <i class="fa-solid fa-arrow-right ms-2"></i>
      </a>
    </div>
    <div class="feature-parent-card">
      <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
        @for (auction of endingSoon; track $index) {
        <ng-template carouselSlide>
          <div class="custom-product-card mt-3 me-2 border border-1">
            <div class="position-relative">
              <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                <a [routerLink]="['/action/auction-details', auction.id]" class="text-decoration-none">
                  <div class="carousel-inner">
                    <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                    class="carousel-item" style="height: 30vh;">
                    <img [src]="'http://localhost:5204/' + image" class="d-block w-100 card-img-top"
                    alt="Auction item image">
                  </div>
                </div>
              </a>
                    <button class="carousel-control-prev" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <a  (click)="addauctionToFav(auction.id)" style="cursor: pointer;">
                    <div class="card-icon bg-light" style="position: absolute; top: 10px; right: 10px;  z-index: 1200;">
                      <i class="fa-heart" [ngClass]="isauctionFav[auction.id] ? 'fas' : 'far'" [style.color]="isauctionFav[auction.id] ? 'red' : 'black'" ></i>
                    </div>
                  </a>
                </div>
                <div class="card-body p-3">
                  <p class="card-title fw-bold">{{auction.item.name}}</p>
                  <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                  <p class="bids">{{ auction.bids.length }} bids</p>
                  <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                  <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                  <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                </div>
              </div>





        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>

</section>
<!--No Bids Section -->
<section class="py-5 bg-light position-relative parent-of-card">
  <div class="container pt-2">
    <div class="mt-4 d-flex align-items-center">
      <p class="mt-0 fs-2  text-decoration-none">No Bids</p>
      <a  [routerLink]="['/action/auction-list', noBids]" class="btn d-flex align-items-center btn-hover-opacity ms-3 mb-2">
        Show All
        <i class="fa-solid fa-arrow-right ms-2"></i>
      </a>
    </div>
    <div class="feature-parent-card">
      <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
        @for (auction of nobids; track $index) {
        <ng-template carouselSlide>
          <div class="custom-product-card mt-3 me-2 border border-1">
            <div class="position-relative">
              <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                <a [routerLink]="['/action/auction-details', auction.id]" class="text-decoration-none">
                  <div class="carousel-inner">
                    <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                    class="carousel-item" style="height: 30vh;">
                    <img [src]="'http://localhost:5204/' + image" class="d-block w-100 card-img-top"
                    alt="Auction item image">
                  </div>
                </div>
              </a>
                    <button class="carousel-control-prev" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <a  (click)="addauctionToFav(auction.id)" style="cursor: pointer;">
                    <div class="card-icon bg-light" style="position: absolute; top: 10px; right: 10px;  z-index: 1200;">
                      <i class="fa-heart" [ngClass]="isauctionFav[auction.id] ? 'fas' : 'far'" [style.color]="isauctionFav[auction.id] ? 'red' : 'black'" ></i>
                    </div>
                  </a>
                </div>
                <div class="card-body p-3">
                  <p class="card-title fw-bold">{{auction.item.name}}</p>
                  <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                  <p class="bids">{{ auction.bids.length }} bids</p>
                  <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                  <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                  <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                </div>
              </div>





        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>

</section>
<!-- Upcoming Section -->
<section class="py-5 bg-light position-relative parent-of-card">
  <div class="container pt-2">
    <div class="mt-4 d-flex align-items-center">
      <p class="mt-0 fs-2  text-decoration-none">Upcoming</p>
     
    </div>
    <div class="feature-parent-card">
      <owl-carousel-o [options]="customOptions" class="d-flex flex-nowrap ">
        @for (auction of Upcoming; track $index) {
        <ng-template carouselSlide>
          <div class="custom-product-card mt-3 me-2 border border-1">
            <div class="position-relative">
              <div id="carousel{{auction.id}}" class="carousel slide" data-bs-ride="true">
                <a [routerLink]="['/action/auction-details', auction.id]" class="text-decoration-none">
                  <div class="carousel-inner">
                    <div *ngFor="let image of auction.item.images; let i = index" [class.active]="i === 0"
                    class="carousel-item" style="height: 30vh;">
                    <img [src]="'http://localhost:5204/' + image" class="d-block w-100 card-img-top"
                    alt="Auction item image">
                  </div>
                </div>
              </a>
                    <button class="carousel-control-prev" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                      [attr.data-bs-target]="'#carousel' + auction.id" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <a  (click)="addauctionToFav(auction.id)" style="cursor: pointer;">
                    <div class="card-icon bg-light" style="position: absolute; top: 10px; right: 10px;  z-index: 1200;">
                      <i class="fa-heart" [ngClass]="isauctionFav[auction.id] ? 'fas' : 'far'" [style.color]="isauctionFav[auction.id] ? 'red' : 'black'" ></i>
                    </div>
                  </a>
                </div>
                <div class="card-body p-3">
                  <p class="card-title fw-bold">{{auction.item.name}}</p>
                  <p class="mb-1"><small class="text-muted">{{auction.item.sellerName}}</small></p>
                  <p class="bids">{{ auction.bids.length }} bids</p>
                  <p class="price">{{ auction.item.startPrice | number }} EGP</p>
                  <p class="date">From:{{ auction.startDate | date:'mediumDate' }} </p>
                  <p class="date">To:{{ auction.endDate | date:'mediumDate' }} </p>
                </div>
              </div>





        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>

</section>

<!-- Event Section -->
 @if(Event.length!==0){


<section class="event-section d-flex align-items-start py-5" 
    style="height: 90vh; background-image: linear-gradient(#bebebe0e,#363636b4), url('{{Event[0].image}}')">
    <!-- Your content here -->


  <div class="align-self-center  m-auto text-center">
    <h1 class="mb-4 fw-semibold pt-1 text-light">{{Event[0].title}}</h1>
    <h4 class="mb-4 pt-1 text-light">{{Event[0].type}}</h4>
    <p class=" mb-4 fw-semibold opacity-75 text-light">
      {{Event[0].startDate|date}}
    </p>
    <div>
      <a routerLink="../action/auction-list" class="btn explore btn-lg me-2 py-2 px-3 fs-6">Explore 
        <i class="fa-solid fa-circle-chevron-right ms-2"></i></a>
    </div>
  </div>
</section>
}
<!-- Category Section-->
<!-- <section class="py-5 bg-light position-relative">
  <div class="container my-5">
    <a routerLink="../action/auction-list" class="mb-5 fs-2 fw-bold text-decoration-none">Popular searches</a>
  </div>
  <div class="container d-flex flex-wrap">
    <a class="col-12 col-md-6 col-lg-6 mb-4 text-decoration-none" routerLink="../action/auction-list" style="height: 300px;">
      <div class="shadow rounded-1" style="height: 80%; width: 97%;">
        <img style="height: 100%; width: 100%;" src="https://picsum.photos/500/501" alt="">
      </div>
      <div class="pt-2">
        <p class="fw-semibold opacity-75">Category Name</p>
      </div>
    </a>

    <a class="col-12 col-md-6 col-lg-3 mb-4 text-decoration-none" routerLink="../action/auction-list" style="height: 300px;">
      <div class="shadow rounded-1" style="height: 80%; width: 97%;">
        <img style="height: 100%; width: 100%;" src="https://picsum.photos/500/502" alt="">
      </div>
      <div class="pt-2">
        <p class="fw-semibold opacity-75">Category Name</p>
      </div>
    </a>

    <a class="col-12 col-md-6 col-lg-3 mb-4 text-decoration-none" routerLink="../action/auction-list" style="height: 300px;">
      <div class="shadow rounded-1" style="height: 80%; width: 97%;">
        <img style="height: 100%; width: 100%;" src="https://picsum.photos/500/503" alt="">
      </div>
      <div class="pt-2">
        <p class="fw-semibold opacity-75">Category Name</p>
      </div>
    </a>

    <a class="col-12 col-md-6 col-lg-3 mb-4 text-decoration-none" routerLink="../action/auction-list" style="height: 300px;">
      <div class="shadow rounded-1" style="height: 80%; width: 97%;">
        <img style="height: 100%; width: 100%;" src="https://picsum.photos/500/504" alt="">
      </div>
      <div class="pt-2">
        <p class="fw-semibold opacity-75">Category Name</p>
      </div>
    </a>

    <a class="col-12 col-md-6 col-lg-6 mb-4 text-decoration-none" routerLink="../action/auction-list" style="height: 300px;">
      <div class="shadow rounded-1" style="height: 80%; width: 97%;">
        <img style="height: 100%; width: 100%;" src="https://picsum.photos/500/505" alt="">
      </div>
      <div class="pt-2">
        <p class="fw-semibold opacity-75">Category Name</p>
      </div>
    </a>

    <a class="col-12 col-md-6 col-lg-3 mb-4 text-decoration-none" routerLink="../action/auction-list" style="height: 300px;">
      <div class="shadow rounded-1" style="height: 80%; width: 97%;">
        <img style="height: 100%; width: 100%;" src="https://picsum.photos/500/506" alt="">
      </div>
      <div class="pt-2">
        <p class="fw-semibold opacity-75">Category Name</p>
      </div>
    </a>
  </div>
</section> -->


<!--new category section-->
<section class="py-5 bg-light ">
  <div class="container">
    <h2 class="py-5">Our Categories</h2>
  </div>
  <owl-carousel-o [options]="categoriesCarousel" class="d-flex flex-nowrap ">
    @for (category of Categories; track $index) {
    <ng-template carouselSlide>
     <h6>{{category.name}}</h6>
     <div class="position-relative"  >
    <img [src]="'http://localhost:5204/' + category.image" class="card-img-top" alt="Mark Seliger Print" style="width: 96%; height: 300px;" [routerLink]= "['../action/auction-list',category.name]">
    <a style="cursor: pointer;" (click)="addToFav(category.id)">
      <div class="card-icon bg-light">
        <i class="fa-heart" [ngClass]="isFavCat[category.id] ? 'fas' : 'far'" [style.color]="isFavCat[category.id] ? 'red' : 'black'" ></i>
      </div>
    </a>
  </div>
    </ng-template>
    }
  </owl-carousel-o>
</section>

<!-- Testimonial section -->
<section class="py-5 bg-light ">
  <div class="container">
    <h2 class=" py-5">What Our Buyers Say</h2>
  </div>
  <owl-carousel-o [options]="testimonialCarousel" class="d-flex flex-nowrap ">
    @for (review of reviews; track $index) {

    <ng-template carouselSlide>
      <figure class="snip1533">
        <figcaption>
          <blockquote>
            <p>{{review.description}}</p>
          </blockquote>
          <h3>{{review.buyer.user.name}}</h3>
        </figcaption>
      </figure>
   
    
    </ng-template>
  }
 
 

  </owl-carousel-o>
</section>




<!-- Testimonials Section -->
<!-- <section class="py-5 bg-light ">
  <div class="container py-5">
    <h2 class="fw-bold">What Our Users Say</h2>
    <div class="row text-center mt-5 pt-5">
      <owl-carousel-o [options]="testimonialOption" class="testimonialOption">

        <ng-template carouselSlide>
            <div class="testmonial py-5">
              <div class="testmonialcard">
                <div class="face front-face">
                    <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                       alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Robert Garrison
                    </div>
                </div>
                <div class="face back-face">
                  <span class="fas fa-quote-left"></span>
                  <div class="testimonial">
                    "AuctionMaster made it so easy to find and bid on rare collectibles.
                    I’m thrilled with my purchases!"
                  </div>
                  <span class="fas fa-quote-right"></span>
               </div>
              </div>
           </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testmonial py-5">
            <div class="testmonialcard">
              <div class="face front-face">
                  <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                     alt="" class="profile">
                  <div class="pt-3 text-uppercase name">
                      Robert Garrison
                  </div>
              </div>
              <div class="face back-face">
                <span class="fas fa-quote-left"></span>
                <div class="testimonial">
                  "AuctionMaster made it so easy to find and bid on rare collectibles.
                  I’m thrilled with my purchases!"
                </div>
                <span class="fas fa-quote-right"></span>
             </div>
            </div>
         </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testmonial py-5">
          <div class="testmonialcard">
            <div class="face front-face">
                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                   alt="" class="profile">
                <div class="pt-3 text-uppercase name">
                    Robert Garrison
                </div>
            </div>
            <div class="face back-face">
              <span class="fas fa-quote-left"></span>
              <div class="testimonial">
                "AuctionMaster made it so easy to find and bid on rare collectibles.
                I’m thrilled with my purchases!"
              </div>
              <span class="fas fa-quote-right"></span>
           </div>
          </div>
       </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="testmonial py-5">
        <div class="testmonialcard">
          <div class="face front-face">
              <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                 alt="" class="profile">
              <div class="pt-3 text-uppercase name">
                  Robert Garrison
              </div>
          </div>
          <div class="face back-face">
            <span class="fas fa-quote-left"></span>
            <div class="testimonial">
              "AuctionMaster made it so easy to find and bid on rare collectibles.
              I’m thrilled with my purchases!"
            </div>
            <span class="fas fa-quote-right"></span>
         </div>
        </div>
     </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="testmonial py-5">
      <div class="testmonialcard">
        <div class="face front-face">
            <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
               alt="" class="profile">
            <div class="pt-3 text-uppercase name">
                Robert Garrison
            </div>
        </div>
        <div class="face back-face">
          <span class="fas fa-quote-left"></span>
          <div class="testimonial">
            "AuctionMaster made it so easy to find and bid on rare collectibles.
            I’m thrilled with my purchases!"
          </div>
          <span class="fas fa-quote-right"></span>
       </div>
      </div>
   </div>
</ng-template>




    </owl-carousel-o>
    </div>
  </div>
</section> -->


<!-- Newsletter Section -->
<!-- <section class="newsletter-section py-5 text-primary" style="height: 70vh;">
  <div class="container mt-5 py-5 rounded-2 d-flex justify-content-evenly align-items-center">
    <div class="col-7">
      <h2 class=" mb-4">Stay Updated with AuctionMaster</h2>
    <p class="">
      Sign up for our newsletter to get the latest auction news and exclusive
      offers.
    </p>

    <div class="row  mt-4">
      <div class="col-md-6">
        <form>
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control rounded-start-2"
              placeholder="Email Address"

              required
            />
            <button type="submit" class="btn rounded-end-2">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    </div>
    <div class="newsletter-image">
      <img src="https://picsum.photos/200/200/?blur=2" class="rounded-2 opacity-50" alt="">
    </div>
  </div>
</section>
-->