/* You can add global styles to this file, and also import other style files */


body {
    font-family: 'Ubuntu', sans-serif;
}


.btn-primary {
    background-color: #003285 !important;
    border-color: #003285 !important;
}

.btn-primary:hover {
    background-color: #003385a1 !important;
    border-color: #003285a1 !important;
}

.btn-outline-primary {
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.btn-outline-primary:hover {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #003285 !important;
}

.btn-secondary {
    background-color: rgb(229, 124, 35) !important;
    border-color: rgb(229, 124, 35) !important;
    color: #ffffff !important;

}

.btn-secondary:hover {
    background-color: rgba(229, 126, 35, 0.845) !important;
    border-color: rgbargb(229, 124, 35) !important;
}

.btn-outline-primary {
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.btn-outline-primary:hover {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #003285 !important;
}

a {
    color: rgba(0, 0, 0, 0.65);
}

body {
    background-color: white !important;

}

.btn-link {
    color: rgb(229, 124, 35) !important;
    padding: 0px !important;
}

/* english font start*/
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* english font end*/