.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color:white;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group {
  flex: 1;
}

.input-group input, .input-group select {
  width: 100%;
}

.table-wrapper {
  margin-top: 20px;
}

.auction-image {
  max-width: 100px;  /* Set a maximum width */
  height: auto;      /* Maintain aspect ratio */
  display: block;    /* Ensure the image is treated as a block element */
  margin: 0 auto;    /* Center the image horizontally */
}


a.live-auction-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a.live-auction-link:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
}

.page-link:hover {
  background-color: #0056b3;
}

.page-item.active .page-link {
  background-color: #0056b3;
  font-weight: bold;
}

.page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}

