<div class="container-fluid my-5">
  <div class="container">
    <div>
      <a class="fs-5 fw-medium d-lg-none d-block mb-4 text-decoration-none text-dark" data-bs-toggle="collapse"
        href="#filter" aria-controls="filter" aria-expanded="true" role="button">
        <svg class="feather feather-filter" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
        </svg> Filter</a>
      <div class="collapse" id="filter">
        <div class="mb-3">
          <a class="text-decoration-none border-0 text-dark btn btn bg-secondary-subtle rounded rounded-3 w-100  d-flex justify-content-between fw-medium align-items-center"
            data-bs-toggle="collapse" href="#Categories" aria-controls="Categories" aria-expanded="true"
            role="button"><span>Categories</span><svg class="feather feather-chevron-down" fill="none" height="24"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
              width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9" />
            </svg></a>
          <div class="collapse" id="Categories">
            <nav class="category bg-light rounded rounded-bottom-3 rounded-top-0 pb-2 pt-2">
              <ul class="list-unstyled ">
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2 link-underline-opacity-10-hover">Any Category</span>
                    <span class="me-2">(2,000)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Art</span>
                    <span class="me-2">(500)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Furniture</span>
                    <span class="me-2">(200)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Jewellery</span>
                    <span class="me-2">(100)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Silver & metals</span>
                    <span class="me-2">(500)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Photo,Cameras & lenses</span>
                    <span class="me-2">(200)</span>
                  </a>
                </li>
              </ul>

            </nav>
          </div>
        </div>
        <div class="mb-3">
          <a class="text-decoration-none text-dark btn btn bg-secondary-subtle rounded rounded-3 w-100 d-flex justify-content-between fw-medium align-items-center"
            data-bs-toggle="collapse" href="#Countries" aria-controls="Countries" aria-expanded="true"
            role="button"><span>Countries</span><svg class="feather feather-chevron-down" fill="none" height="24"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
              width="24" xmlns="http://www.w3.org/2000/svg">
              <polyline points="6 9 12 15 18 9" />
            </svg></a>
          <div class="collapse" id="Countries">
            <nav class="category bg-light rounded rounded-bottom-3 rounded-top-0 pb-2 pt-2">

              <ul class="list-unstyled ">
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2 link-underline-opacity-10-hover">All Countries</span>
                    <span class="me-2">(100)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Egypt</span>
                    <span class="me-2">(60)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">spain</span>
                    <span class="me-2">(10)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">france</span>
                    <span class="me-2">(15)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Saudi Arabia</span>
                    <span class="me-2">(20)</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none d-flex flex-row justify-content-between text-dark  mb-2">
                    <span class="ms-2">Germany</span>
                    <span class="me-2">(5)</span>
                  </a>
                </li>
              </ul>

            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-between p-0">
    <section class="row column-gap-5">
 
      <div class="col-3 d-lg-block d-none">
        <div id="sidebar" class="d-flex flex-column  rounded-2">
          <div class=" ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle"
            style="background-color: #f0f0f3;">
            <p class="text-dark fw-bold pt-2">Categories</p>
          </div>

          <nav class="nav flex-column">
            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Any Category</span>
                <span class="me-2">(2,000)</span>
              </a>
            </div>

            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Art</span>
                <span class="me-2">(500)</span>
              </a>
            </div>

            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Furniture</span>
                <span class="me-2">(200)</span>
              </a>
            </div>
            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Jewellery</span>
                <span class="me-2">(100)</span>
              </a>
            </div>

            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Silver & metals</span>
                <span class="me-2">(500)</span>
              </a>
            </div>


            <div class="ps-2 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Photo,Cameras & lenses</span>
                <span class="me-2">(200)</span>
              </a>
            </div>








          </nav>
        </div>

        <div id="sidebar" class="d-flex flex-column  rounded-2 mt-3">
          <div class=" ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle"
            style="background-color: #f0f0f3;">
            <p class="text-dark fw-bold pt-2">Countries</p>
          </div>

          <nav class="nav flex-column">
            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">All Countries</span>
                <span class="me-2">(100)</span>
              </a>
            </div>

            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Egypt</span>
                <span class="me-2">(60)</span>
              </a>
            </div>

            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">spain</span>
                <span class="me-2">(10)</span>
              </a>
            </div>
            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">france</span>
                <span class="me-2">(15)</span>
              </a>
            </div>

            <div class="ps-2 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Saudi Arabia</span>
                <span class="me-2">(20)</span>
              </a>
            </div>


            <div class="ps-2 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
              <a href="#"
                class="nav-link text-dark opacity-75 fw-semibold text-decoration-none d-flex flex-row justify-content-between">
                <span class="ms-0 link-underline-opacity-10-hover">Germany</span>
                <span class="me-2">(5)</span>
              </a>
            </div>








          </nav>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <h5 class="fw-semibold mb-3">All items</h5>

        <ul class="nav nav-pills d-flex gap-5 ms-0" id="myTab" role="tablist" style="list-style: none;">
          <li class=" nav-item ">
            <a class=" nav-link active " data-bs-toggle="pill" href="#ActiveAuctions">Active Auctions</a>
          </li>
          <li class="nav-item">
            <a class=" nav-link   " data-bs-toggle="pill" href="#EndedAuctions">Ended Auctions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="ActiveAuctions" role="tabpanel">
            <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center ">
              <form class="d-flex flex-sm-row flex-column justify-content-start align-items-center w-50">
                <label class=" me-2 fw-normal">Sort by</label>
                <select class=" form-select w-75 form-select" aria-label="select example">
                  <option selected class="">Ending Soonest</option>
                  <option value="1" class="">Most bids</option>
                  <option value="2" class="">Highest bid</option>
                  <option value="3" class="">Lowest bid</option>
                </select>
              </form>
              <nav aria-label="Page navigation example" class="mb-0 mt-3">
                <ul class="pagination text-dark">
                  <li class="page-item ">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true" class="text-dark ">&laquo;</span>

                    </a>
                  </li>
                  <li class="page-item"><a class="page-link text-dark " href="#">1</a></li>
                  <li class="page-item"><a class="page-link text-dark " href="#">2</a></li>
                  <li class="page-item"><a class="page-link text-dark " href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true" class="text-dark ">&raquo;</span>

                    </a>
                  </li>
                </ul>
              </nav>

            </div>
            <div class="row ">
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="first" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <a routerLink="../auction-details">
                          <img src="Images/large_item_3556143_dda3254431.jpg" class=" d-block w-100 card-img-top"
                            alt="...">
                        </a>
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_ca2df49ba2.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#first" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#first" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="second" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#second" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#second" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="third" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#third" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#third" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="fourth" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#fourth" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#fourth" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="fifth" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#fifth" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#fifth" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="sixth" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_1ea4dba1d5.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sixth" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sixth" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="tab-pane fade  " id="EndedAuctions" role="tabpanel">
            <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center">
              <form class="d-flex  flex-sm-row flex-column justify-content-start align-items-center w-50">
                <label class=" me-2  fw-normal ">Sort by</label>
                <select class="form-select w-75 form-select" aria-label=" select example">
                  <option selected class="">ended recently</option>
                  <option value="1" class="">Most bids</option>
                  <option value="2" class="">Highest bid</option>
                  <option value="3" class="">Lowest bid</option>
                </select>
              </form>
              <nav aria-label="Page navigation example" class="mb-0 mt-3">
                <ul class="pagination text-dark">
                  <li class="page-item ">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true" class=" text-dark">&laquo;</span>

                    </a>
                  </li>
                  <li class="page-item "><a class="page-link  text-dark" href="#">1</a></li>
                  <li class="page-item"><a class="page-link  text-dark" href="#">2</a></li>
                  <li class="page-item"><a class="page-link  text-dark" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true" class=" text-dark">&raquo;</span>

                    </a>
                  </li>
                </ul>
              </nav>

            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="first2" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/large_item_3556143_dda3254431.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#first2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#first2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="second2" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#second2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#second2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-12 mt-5">
                <div class="card">
                  <div id="third2" class="carousel slide " data-bs-ride="true">
                    <div class="carousel-inner ">
                      <div class="carousel-item active" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                      <div class="carousel-item" style="height: 30vh;">
                        <img src="Images/medium_item_3613318_ca53e53d15.jpg" class="d-block w-100 card-img-top"
                          alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#third2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#third2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">cute cat</h5>
                    <p class="card-text text-secondary fs-6 fw-medium mb-1">1 day</p>
                    <p class="card-text text-secondary fs-6 fw-medium">Estimate</p>
                    <h5 class="card-title">100 EUR</h5>

                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>


      </div>
    </section>
  </div>
  </div>
</div>