.nav-pills .active{

  background-color: transparent !important;
  color:#1e0f57 !important;
  border: none !important;

}
.nav-pills a{
  color:#64748b;

}
.custom-card img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.small-text {
  font-size: 0.8rem;
  color: #6c757d;
  text-align: left;
}

.bids {
  font-size: 0.9rem;
  color: #6c757d;
  text-align: left;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
.custom-product-card{
  background-color: #ffffff;

}

.card-icon{
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 4px 7px;
  border-radius: 20px;
}

.card-title-how{
  margin: 0 auto;
}

/* .card-body-work{
  background-color: #fafafa;
  border-radius: 0px;
  color:#007bff;
} */