.navbar-custom {
  background-color: #003285;
}
.navbar-custom .navbar-brand, .navbar-custom .nav-link {
  color: white;
}
.navbar-custom .nav-link:hover {
  color: #e57a23;
}
.navbar-custom .dropdown-menu {
  background-color: white;
  border: none;
}
.navbar-custom .dropdown-item {
  color: rgb(54, 53, 53);
  white-space: normal; /* Allow text wrapping */
  width:300px;
}
.navbar-custom .dropdown-item:hover {
  background-color: white;

  color: rgb(54, 53, 53);
}
.navbar-custom .dropdown-item .notification-time {
  font-size: 0.8rem;
  color: #e57a23;
}
.navbar-custom .form-inline .form-control {
  border: none;
  border-radius: 5px;
  background-color: white;
}
.form{
  width:50%;
}
.navbar-custom .btn-primary {
  background-color: rgb(229, 124, 35);
  border: none;
}
.navbar-custom .btn-primary:hover {
  background-color: #e57a23;
}


/* Adjusting dropdown position based on screen size */
.notifications-dropdown {
  margin-left: -150px; /* Move dropdown left before collapse */
}

@media (max-width: 991.98px) {
  /* Reset dropdown margin on smaller screens */
  .navbar-custom .notifications-dropdown{
      margin-left: 0;
  }
  .navbar-custom .dropdown-item {
   
    width:100%;
  }

  .form{
    width:100%;
  }
}