
<nav class="navbar navbar-expand-lg navbar-custom ">
  <div class="container">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
      <form class="form form-inline mx-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav ">
          <!-- Logged Out State -->
          <!-- <li class="nav-item">
              <a class="nav-link" routerLink="user/login">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="user/register">Sign Up</a>
          </li> -->

          <!-- Logged In State (Hidden by Default) -->
          <li class="nav-item dropdown " id="notificationsDropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-left notifications-dropdown" aria-labelledby="navbarDropdown" >
                <a class="dropdown-item" href="#">
                  <strong>New Bid Placed</strong>
                  <div>A new bid has been placed on your item.</div>
                  <div class="notification-time">2024-08-26 14:30</div>
              </a>
              <a class="dropdown-item" href="#">
                  <strong>Item Sold</strong>
                  <div>Your item has been sold successfully.</div>
                  <div class="notification-time">2024-08-25 16:45</div>
              </a>
              <a class="dropdown-item" href="#">
                  <strong>Payment Received</strong>
                  <div>Your payment has been processed.</div>
                  <div class="notification-time">2024-08-24 10:15</div>
              </a>
              <a class=" dropdown-item text-decoration-none  " routerLink="../shared/notifications" >See All Notifications</a>
              </div>
          </li>
          <li class="nav-item dropdown " id="profileDropdown">
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdownLink">
                  <a class="dropdown-item" routerLink="user/profile">My Profile</a>
                  <a class="dropdown-item" href="#">Logout</a>
              </div>
          </li>
          <li class="nav-item " id="sellLink">
              <a class="nav-link btn btn-primary text-start" routerLink="../action/create-auction">Sell</a>
          </li>
      </ul>
  </div>
      
</div>
</nav>