<div class="container mt-5">
  <h2 class="mb-4">Review Items</h2>

  <!-- Search Bar -->
  <!-- <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Search items...">
    </div>
  </div> -->

  <!-- Check if items are available -->
  <div *ngIf="items && items.length > 0; else noItems">
    <!-- Items Table -->
    <div class="table-responsive text-center text-align-center">
      <table class="table table-bordered table-hover">
        <thead class="table-light table-borderless">
          <tr>
            <th>Item Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Seller Name</th>
            <th>Start Price</th>
            <th>Reserve Price</th>
            <th>Certificate or Contract</th>
            <th>Images</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items| paginate: { itemsPerPage: 7, currentPage: page }; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.sellerName}}</td>
            <td>{{ item.startPrice }}</td>
            <td>{{ item.sellPrice }}</td>
            <td>
              <ng-container *ngIf="item.contract !== 'N/A'; else noContract">
                <a [href]="item.contract" target="_blank">View Contract</a>
              </ng-container>
              <ng-template #noContract>No Contract</ng-template>
            </td>
            
            <td>
              <!-- Small Carousel inside the table -->
              <div id="carousel{{ i }}" class="carousel slide" data-bs-ride="carousel" style="width: 100px;">
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let image of item.images; let j = index" [class.active]="j === 0">
                    <img [src]="image.src" class="d-block w-100 img-thumbnail" alt="Image"
                      (click)="showImage(image.src)">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + i"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + i"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </td>
            <td>
              <div class="dropdown">
                <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical "></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" (click)="acceptItem(item.id)">
                          Accept
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="openRejectModal(item.id)">
                          Reject
                        </a>
                    </li>
                </ul>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="border-top d-flex justify-content-between align-items-md-center mb-4 mx-3 flex-md-row flex-column gap-4">
    <pagination-controls (pageChange)="page = $event" ></pagination-controls>

</div>
  <!-- Display message if no items are available -->
  <ng-template #noItems>
    <p class="text-center mt-5">No items to review</p>
  </ng-template>
</div>

<!-- Modal for Full-Size Image -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Image Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="selectedImage" class="d-block w-100" alt="Large Image">
      </div>
    </div>
  </div>
</div>

<!-- Modal for Rejection -->
<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectModalLabel">Reject Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="rejectionReason" class="form-label">Reason for Rejection</label>
            <input type="text" class="form-control" name="rejectionReason" id="rejectionReason"
              [(ngModel)]="rejectionReason" (keyup)="changetext($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary"
          (click)="rejectItem(itemIdToReject, rejectionReason)">Submit</button>
      </div>
    </div>
  </div>
</div>
