<div class="container ">
  <div class="bg-dark text-white rounded-2">
    <h4 class="mb-4 p-3">Edit your profile</h4>
  </div>
  <form class="row ms-3 w-75 " [formGroup]="form" (ngSubmit)="editProfile()">
    <div><h5 class="fw-bolder opacity-75">ID: 153142</h5></div>
    <div class="form-floating col-6 mb-3 ">
      <input
        type="text"
        id="floatingInput"
        class="form-control is-valid"
        formControlName="fname"
        placeholder="name@example.com"
        [class]="{'is-valid':fname?.valid&&fname?.dirty,'is-invalid':fname?.invalid&&fname?.dirty}"
        required
      />
      <label for="floatingInput" class="ms-3">First name</label>

      @if (fname?.errors?.['maxLength']){<div class="invalid-feedback">your last name must be less than 20 character!</div>}
      @else if (fname?.errors?.['minLength']){<div class="invalid-feedback">your last name must be more than 4 character!</div>}
      @else {<div class="invalid-feedback">this field is required!</div>}

    </div>
    <div class="form-floating col-6 mb-3">

      <input
        type="text"
        id="floatingInput"
        class="form-control is-valid"
        formControlName="lname"
        placeholder="last name"
        [class]="{'is-valid':lname?.valid&&lname?.dirty,'is-invalid':lname?.invalid&&lname?.dirty}"
        required
      />
      <label for="floatingInput" class="ms-3">Last name</label>
      @if (lname?.errors?.['maxLength']){<div class="invalid-feedback">your last name must be less than 20 character!</div>}
      @else if (lname?.errors?.['minLength']){<div class="invalid-feedback">your last name must be more than 4 character!</div>}
      @else{<div class="invalid-feedback">this field is required!</div>}

    </div>
    <div class="col-12 mb-3">
      <label for="validationServer02" class="form-label"
        >Upload new image</label
      >
      <input
        type="file"
        class="form-control"
        id="validationServer02"
        value="Otto"
        required
      />
    </div>
    <div class="form-floating col-12 mb-3">
      <input
        type="email"
        class="form-control"
        [class]="{'is-valid':email?.valid&&email?.dirty,'is-invalid':email?.invalid&&email?.dirty}"
        formControlName="email"
        placeholder="text"
        id="floatingInput"
        value="Otto"
        required
      />
      <label for="floatingInput" class="ms-3">Email</label>

      @if(email?.errors?.['email']){<div class="invalid-feedback">this email not valid!</div>}
      @else{<div class="invalid-feedback">this input is required!</div>}

    </div>

    <div><h5 class="fw-bolder opacity-75 my-3">Address</h5></div>

    <div class="form-floating col-12 mb-3">
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="aStreet"
        [class]="{'is-valid':aStreet?.valid&&aStreet?.dirty,'is-invalid':aStreet?.invalid&&aStreet?.dirty}"
        id="floatingInput"
        placeholder="Street"
        aria-describedby="validationServer03Feedback"
        required
      />
      <label for="floatingInput" class="ms-3">Street</label>

      @if(aStreet?.errors?.['required'])
      {<div id="validationServer03Feedback" class="invalid-feedback">
        Please provide a valid Street.
      </div>}

    </div>

    <div class="form-floating col-12 mb-3">

      <input
        type="text"
        class="form-control is-invalid"
        formControlName="aPostalCode"
        [class]="{'is-valid':aPostalCode?.valid&&aPostalCode?.dirty,'is-invalid':aPostalCode?.invalid&&aPostalCode?.dirty}"
        placeholder="text"
        id="floatingInput"
        aria-describedby="validationServer05Feedback"
        required
      />
      <label for="floatingInput" class="ms-3">Postal code</label>
      @if(aPostalCode?.errors?.['required'])
      {<div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid Postal code.
      </div>}
    </div>

    <div class="form-floating col-12 mb-3">
      <input
        type="text"
        class="form-control is-invalid"
        formControlName="aCity"
        [class]="{'is-valid':aCity?.valid&&aCity?.dirty,'is-invalid':aCity?.invalid&&aCity?.dirty}"
        placeholder="text"
        id="floatingInput"
        aria-describedby="validationServer03Feedback"
        required
      />
      <label for="floatingInput" class="ms-3">City</label>

      @if(aCity?.errors?.['required'])
      {<div id="validationServer03Feedback" class="invalid-feedback">
        Please provide a valid city.
      </div>}

    </div>

    <div class="col-12 mb-3">
      <label for="Country" class="form-check-label">Country</label>

      <select
        class="form-select is-invalid"
        formControlName="aCountry"
        [class]="{'is-valid':aCountry?.valid&&aCountry?.dirty,'is-invalid':aCountry?.invalid&&aCountry?.dirty}"
        placeholder="text"
        id="Country"
        aria-describedby="validationServer04Feedback"
        required
      >
        <option selected disabled value="">Choose...</option>
        <option value="GB">United Kingdom</option>
        <option value="SE">Sweden</option>
        <option value="DE">Germany</option>
        <option value="ES">Spain</option>
        <option value="DK">Denmark</option>
        <option value="FI">Finland</option>
        <option value="NO">Norway</option>
        <option value="US">United States</option>
        <option value="FR">France</option>
        <option value="NL">Netherlands</option>
        <option disabled="disabled" value="---------------">
          ---------------
        </option>
        <option value="AF">Afghanistan</option>
        <option value="AX">Åland Islands</option>
        <option value="AL">Albania</option>
        <option value="DZ">Algeria</option>
        <option value="AS">American Samoa</option>
        <option value="AD">Andorra</option>
        <option value="AO">Angola</option>
        <option value="AI">Anguilla</option>
        <option value="AQ">Antarctica</option>
        <option value="AG">Antigua &amp; Barbuda</option>
        <option value="AR">Argentina</option>
        <option value="AM">Armenia</option>
        <option value="AW">Aruba</option>
        <option value="AU">Australia</option>
        <option value="AT">Austria</option>
        <option value="AZ">Azerbaijan</option>
        <option value="BS">Bahamas</option>
        <option value="BH">Bahrain</option>
        <option value="BD">Bangladesh</option>
        <option value="BB">Barbados</option>
        <option value="BY">Belarus</option>
        <option value="BE">Belgium</option>
        <option value="BZ">Belize</option>
        <option value="BJ">Benin</option>
        <option value="BM">Bermuda</option>
        <option value="BT">Bhutan</option>
        <option value="BO">Bolivia</option>
        <option value="BA">Bosnia &amp; Herzegovina</option>
        <option value="BW">Botswana</option>
        <option value="BV">Bouvet Island</option>
        <option value="BR">Brazil</option>
        <option value="IO">British Indian Ocean Territory</option>
        <option value="VG">British Virgin Islands</option>
        <option value="BN">Brunei</option>
        <option value="BG">Bulgaria</option>
        <option value="BF">Burkina Faso</option>
        <option value="BI">Burundi</option>
        <option value="KH">Cambodia</option>
        <option value="CM">Cameroon</option>
        <option value="CA">Canada</option>
        <option value="IC">Canary Islands</option>
        <option value="CV">Cape Verde</option>
        <option value="BQ">Caribbean Netherlands</option>
        <option value="KY">Cayman Islands</option>
        <option value="CF">Central African Republic</option>
        <option value="EA">Ceuta &amp; Melilla</option>
        <option value="TD">Chad</option>
        <option value="CL">Chile</option>
        <option value="CN">China</option>
        <option value="CX">Christmas Island</option>
        <option value="CP">Clipperton Island</option>
        <option value="CI">Côte d’Ivoire</option>
        <option value="CC">Cocos (Keeling) Islands</option>
        <option value="CO">Colombia</option>
        <option value="KM">Comoros</option>
        <option value="CG">Congo - Brazzaville</option>
        <option value="CD">Congo - Kinshasa</option>
        <option value="CK">Cook Islands</option>
        <option value="CR">Costa Rica</option>
        <option value="HR">Croatia</option>
        <option value="CU">Cuba</option>
        <option value="CW">Curaçao</option>
        <option value="CY">Cyprus</option>
        <option value="CZ">Czech Republic</option>
        <option value="DK">Denmark</option>
        <option value="DG">Diego Garcia</option>
        <option value="DJ">Djibouti</option>
        <option value="DM">Dominica</option>
        <option value="DO">Dominican Republic</option>
        <option value="EC">Ecuador</option>
        <option selected="selected" value="EG">Egypt</option>
        <option value="SV">El Salvador</option>
        <option value="GQ">Equatorial Guinea</option>
        <option value="ER">Eritrea</option>
        <option value="EE">Estonia</option>
        <option value="SZ">Eswatini</option>
        <option value="ET">Ethiopia</option>
        <option value="FK">Falkland Islands</option>
        <option value="FO">Faroe Islands</option>
        <option value="FJ">Fiji</option>
        <option value="FI">Finland</option>
        <option value="FR">France</option>
        <option value="GF">French Guiana</option>
        <option value="PF">French Polynesia</option>
        <option value="TF">French Southern Territories</option>
        <option value="GA">Gabon</option>
        <option value="GM">Gambia</option>
        <option value="GE">Georgia</option>
        <option value="DE">Germany</option>
        <option value="GH">Ghana</option>
        <option value="GI">Gibraltar</option>
        <option value="GR">Greece</option>
        <option value="GL">Greenland</option>
        <option value="GD">Grenada</option>
        <option value="GP">Guadeloupe</option>
        <option value="GU">Guam</option>
        <option value="GT">Guatemala</option>
        <option value="GG">Guernsey</option>
        <option value="GN">Guinea</option>
        <option value="GW">Guinea-Bissau</option>
        <option value="GY">Guyana</option>
        <option value="HT">Haiti</option>
        <option value="HM">Heard &amp; McDonald Islands</option>
        <option value="HN">Honduras</option>
        <option value="HK">Hong Kong</option>
        <option value="HU">Hungary</option>
        <option value="IS">Iceland</option>
        <option value="IN">India</option>
        <option value="ID">Indonesia</option>
        <option value="IR">Iran</option>
        <option value="IQ">Iraq</option>
        <option value="IE">Ireland</option>
        <option value="IM">Isle of Man</option>
        <option value="IL">Israel</option>
        <option value="IT">Italy</option>
        <option value="JM">Jamaica</option>
        <option value="JP">Japan</option>
        <option value="JE">Jersey</option>
        <option value="JO">Jordan</option>
        <option value="KZ">Kazakhstan</option>
        <option value="KE">Kenya</option>
        <option value="KI">Kiribati</option>
        <option value="XK">Kosovo</option>
        <option value="KW">Kuwait</option>
        <option value="KG">Kyrgyzstan</option>
        <option value="LA">Laos</option>
        <option value="LV">Latvia</option>
        <option value="LB">Lebanon</option>
        <option value="LS">Lesotho</option>
        <option value="LR">Liberia</option>
        <option value="LY">Libya</option>
        <option value="LI">Liechtenstein</option>
        <option value="LT">Lithuania</option>
        <option value="LU">Luxembourg</option>
        <option value="MO">Macau SAR China</option>
        <option value="MG">Madagascar</option>
        <option value="MW">Malawi</option>
        <option value="MY">Malaysia</option>
        <option value="MV">Maldives</option>
        <option value="ML">Mali</option>
        <option value="MT">Malta</option>
        <option value="MH">Marshall Islands</option>
        <option value="MQ">Martinique</option>
        <option value="MR">Mauritania</option>
        <option value="MU">Mauritius</option>
        <option value="YT">Mayotte</option>
        <option value="MX">Mexico</option>
        <option value="FM">Micronesia</option>
        <option value="MD">Moldova</option>
        <option value="MC">Monaco</option>
        <option value="MN">Mongolia</option>
        <option value="ME">Montenegro</option>
        <option value="MS">Montserrat</option>
        <option value="MA">Morocco</option>
        <option value="MZ">Mozambique</option>
        <option value="MM">Myanmar (Burma)</option>
        <option value="NA">Namibia</option>
        <option value="NR">Nauru</option>
        <option value="NP">Nepal</option>
        <option value="NL">Netherlands</option>
        <option value="AN">Netherlands Antilles</option>
        <option value="NC">New Caledonia</option>
        <option value="NZ">New Zealand</option>
        <option value="NI">Nicaragua</option>
        <option value="NE">Niger</option>
        <option value="NG">Nigeria</option>
        <option value="NU">Niue</option>
        <option value="NF">Norfolk Island</option>
        <option value="KP">North Korea</option>
        <option value="MK">North Macedonia</option>
        <option value="MP">Northern Mariana Islands</option>
        <option value="NO">Norway</option>
        <option value="OM">Oman</option>
        <option value="QO">Outlying Oceania</option>
        <option value="PK">Pakistan</option>
        <option value="PW">Palau</option>
        <option value="PS">Palestinian Territories</option>
        <option value="PA">Panama</option>
        <option value="PG">Papua New Guinea</option>
        <option value="PY">Paraguay</option>
        <option value="PE">Peru</option>
        <option value="PH">Philippines</option>
        <option value="PN">Pitcairn Islands</option>
        <option value="PL">Poland</option>
        <option value="PT">Portugal</option>
        <option value="PR">Puerto Rico</option>
        <option value="QA">Qatar</option>
        <option value="RE">Réunion</option>
        <option value="RO">Romania</option>
        <option value="RU">Russia</option>
        <option value="RW">Rwanda</option>
        <option value="ST">São Tomé &amp; Príncipe</option>
        <option value="SX">Saint Martin</option>
        <option value="WS">Samoa</option>
        <option value="SM">San Marino</option>
        <option value="SA">Saudi Arabia</option>
        <option value="SN">Senegal</option>
        <option value="RS">Serbia</option>
        <option value="SC">Seychelles</option>
        <option value="SL">Sierra Leone</option>
        <option value="SG">Singapore</option>
        <option value="SK">Slovakia</option>
        <option value="SI">Slovenia</option>
        <option value="SB">Solomon Islands</option>
        <option value="SO">Somalia</option>
        <option value="ZA">South Africa</option>
        <option value="GS">South Georgia &amp; South Sandwich Islands</option>
        <option value="KR">South Korea</option>
        <option value="SS">South Sudan</option>
        <option value="ES">Spain</option>
        <option value="LK">Sri Lanka</option>
        <option value="BL">St. Barthélemy</option>
        <option value="SH">St. Helena</option>
        <option value="KN">St. Kitts &amp; Nevis</option>
        <option value="LC">St. Lucia</option>
        <option value="MF">St. Martin</option>
        <option value="PM">St. Pierre &amp; Miquelon</option>
        <option value="VC">St. Vincent &amp; Grenadines</option>
        <option value="SD">Sudan</option>
        <option value="SR">Suriname</option>
        <option value="SJ">Svalbard &amp; Jan Mayen</option>
        <option value="SE">Sweden</option>
        <option value="CH">Switzerland</option>
        <option value="SY">Syria</option>
        <option value="TW">Taiwan</option>
        <option value="TJ">Tajikistan</option>
        <option value="TZ">Tanzania</option>
        <option value="TH">Thailand</option>
        <option value="TL">Timor-Leste</option>
        <option value="TG">Togo</option>
        <option value="TK">Tokelau</option>
        <option value="TO">Tonga</option>
        <option value="TT">Trinidad &amp; Tobago</option>
        <option value="TA">Tristan da Cunha</option>
        <option value="TN">Tunisia</option>
        <option value="TR">Türkiye</option>
        <option value="TM">Turkmenistan</option>
        <option value="TC">Turks &amp; Caicos Islands</option>
        <option value="TV">Tuvalu</option>
        <option value="UM">U.S. Outlying Islands</option>
        <option value="VI">U.S. Virgin Islands</option>
        <option value="UG">Uganda</option>
        <option value="UA">Ukraine</option>
        <option value="AE">United Arab Emirates</option>
        <option value="GB">United Kingdom</option>
        <option value="US">United States</option>
        <option value="UY">Uruguay</option>
        <option value="UZ">Uzbekistan</option>
        <option value="VU">Vanuatu</option>
        <option value="VA">Vatican City</option>
        <option value="VE">Venezuela</option>
        <option value="VN">Vietnam</option>
        <option value="WF">Wallis &amp; Futuna</option>
        <option value="EH">Western Sahara</option>
        <option value="YE">Yemen</option>
        <option value="ZM">Zambia</option>
        <option value="ZW">Zimbabwe</option>
      </select>

      @if(aCountry?.errors?.['required'])
      {<div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div>}

    </div>

    <div class=" col-12 mb-3">
      <label for="International" class="form-check-label">Time zone</label>

      <select
        class="form-select is-invalid"
        formControlName="aTimeZone"
        [class]="{'is-valid':aTimeZone?.valid&&aTimeZone?.dirty,'is-invalid':aTimeZone?.invalid&&aTimeZone?.dirty}"
        placeholder="text"
        id="International"
        aria-describedby="validationServer04Feedback"
        required
      >
        <option value="International Date Line West">
          (GMT-12:00) International Date Line West
        </option>
        <option value="American Samoa">(GMT-11:00) American Samoa</option>
        <option value="Midway Island">(GMT-11:00) Midway Island</option>
        <option value="Hawaii">(GMT-10:00) Hawaii</option>
        <option value="Alaska">(GMT-09:00) Alaska</option>
        <option value="Pacific Time (US &amp; Canada)">
          (GMT-08:00) Pacific Time (US &amp; Canada)
        </option>
        <option value="Tijuana">(GMT-08:00) Tijuana</option>
        <option value="Arizona">(GMT-07:00) Arizona</option>
        <option value="Mazatlan">(GMT-07:00) Mazatlan</option>
        <option value="Mountain Time (US &amp; Canada)">
          (GMT-07:00) Mountain Time (US &amp; Canada)
        </option>
        <option value="Central America">(GMT-06:00) Central America</option>
        <option value="Central Time (US &amp; Canada)">
          (GMT-06:00) Central Time (US &amp; Canada)
        </option>
        <option value="Chihuahua">(GMT-06:00) Chihuahua</option>
        <option value="Guadalajara">(GMT-06:00) Guadalajara</option>
        <option value="Mexico City">(GMT-06:00) Mexico City</option>
        <option value="Monterrey">(GMT-06:00) Monterrey</option>
        <option value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
        <option value="Bogota">(GMT-05:00) Bogota</option>
        <option value="Eastern Time (US &amp; Canada)">
          (GMT-05:00) Eastern Time (US &amp; Canada)
        </option>
        <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
        <option value="Lima">(GMT-05:00) Lima</option>
        <option value="Quito">(GMT-05:00) Quito</option>
        <option value="Atlantic Time (Canada)">
          (GMT-04:00) Atlantic Time (Canada)
        </option>
        <option value="Caracas">(GMT-04:00) Caracas</option>
        <option value="Georgetown">(GMT-04:00) Georgetown</option>
        <option value="La Paz">(GMT-04:00) La Paz</option>
        <option value="Puerto Rico">(GMT-04:00) Puerto Rico</option>
        <option value="Santiago">(GMT-04:00) Santiago</option>
        <option value="Newfoundland">(GMT-03:30) Newfoundland</option>
        <option value="Brasilia">(GMT-03:00) Brasilia</option>
        <option value="Buenos Aires">(GMT-03:00) Buenos Aires</option>
        <option value="Montevideo">(GMT-03:00) Montevideo</option>
        <option value="Greenland">(GMT-02:00) Greenland</option>
        <option value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
        <option value="Azores">(GMT-01:00) Azores</option>
        <option value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
        <option value="Edinburgh">(GMT+00:00) Edinburgh</option>
        <option value="Lisbon">(GMT+00:00) Lisbon</option>
        <option value="London">(GMT+00:00) London</option>
        <option value="Monrovia">(GMT+00:00) Monrovia</option>
        <option value="UTC">(GMT+00:00) UTC</option>
        <option value="Amsterdam">(GMT+01:00) Amsterdam</option>
        <option value="Belgrade">(GMT+01:00) Belgrade</option>
        <option value="Berlin">(GMT+01:00) Berlin</option>
        <option value="Bern">(GMT+01:00) Bern</option>
        <option value="Bratislava">(GMT+01:00) Bratislava</option>
        <option value="Brussels">(GMT+01:00) Brussels</option>
        <option value="Budapest">(GMT+01:00) Budapest</option>
        <option value="Casablanca">(GMT+01:00) Casablanca</option>
        <option value="Copenhagen">(GMT+01:00) Copenhagen</option>
        <option value="Dublin">(GMT+01:00) Dublin</option>
        <option value="Ljubljana">(GMT+01:00) Ljubljana</option>
        <option value="Madrid">(GMT+01:00) Madrid</option>
        <option value="Paris">(GMT+01:00) Paris</option>
        <option value="Prague">(GMT+01:00) Prague</option>
        <option value="Rome">(GMT+01:00) Rome</option>
        <option value="Sarajevo">(GMT+01:00) Sarajevo</option>
        <option value="Skopje">(GMT+01:00) Skopje</option>
        <option value="Stockholm">(GMT+01:00) Stockholm</option>
        <option value="Vienna">(GMT+01:00) Vienna</option>
        <option value="Warsaw">(GMT+01:00) Warsaw</option>
        <option value="West Central Africa">
          (GMT+01:00) West Central Africa
        </option>
        <option value="Zagreb">(GMT+01:00) Zagreb</option>
        <option value="Zurich">(GMT+01:00) Zurich</option>
        <option value="Athens">(GMT+02:00) Athens</option>
        <option value="Bucharest">(GMT+02:00) Bucharest</option>
        <option selected="selected" value="Cairo">(GMT+02:00) Cairo</option>
        <option value="Harare">(GMT+02:00) Harare</option>
        <option value="Helsinki">(GMT+02:00) Helsinki</option>
        <option value="Jerusalem">(GMT+02:00) Jerusalem</option>
        <option value="Kaliningrad">(GMT+02:00) Kaliningrad</option>
        <option value="Kyiv">(GMT+02:00) Kyiv</option>
        <option value="Pretoria">(GMT+02:00) Pretoria</option>
        <option value="Riga">(GMT+02:00) Riga</option>
        <option value="Sofia">(GMT+02:00) Sofia</option>
        <option value="Tallinn">(GMT+02:00) Tallinn</option>
        <option value="Vilnius">(GMT+02:00) Vilnius</option>
        <option value="Baghdad">(GMT+03:00) Baghdad</option>
        <option value="Istanbul">(GMT+03:00) Istanbul</option>
        <option value="Kuwait">(GMT+03:00) Kuwait</option>
        <option value="Minsk">(GMT+03:00) Minsk</option>
        <option value="Moscow">(GMT+03:00) Moscow</option>
        <option value="Nairobi">(GMT+03:00) Nairobi</option>
        <option value="Riyadh">(GMT+03:00) Riyadh</option>
        <option value="St. Petersburg">(GMT+03:00) St. Petersburg</option>
        <option value="Volgograd">(GMT+03:00) Volgograd</option>
        <option value="Tehran">(GMT+03:30) Tehran</option>
        <option value="Abu Dhabi">(GMT+04:00) Abu Dhabi</option>
        <option value="Baku">(GMT+04:00) Baku</option>
        <option value="Muscat">(GMT+04:00) Muscat</option>
        <option value="Samara">(GMT+04:00) Samara</option>
        <option value="Tbilisi">(GMT+04:00) Tbilisi</option>
        <option value="Yerevan">(GMT+04:00) Yerevan</option>
        <option value="Kabul">(GMT+04:30) Kabul</option>
        <option value="Ekaterinburg">(GMT+05:00) Ekaterinburg</option>
        <option value="Islamabad">(GMT+05:00) Islamabad</option>
        <option value="Karachi">(GMT+05:00) Karachi</option>
        <option value="Tashkent">(GMT+05:00) Tashkent</option>
        <option value="Chennai">(GMT+05:30) Chennai</option>
        <option value="Kolkata">(GMT+05:30) Kolkata</option>
        <option value="Mumbai">(GMT+05:30) Mumbai</option>
        <option value="New Delhi">(GMT+05:30) New Delhi</option>
        <option value="Sri Jayawardenepura">
          (GMT+05:30) Sri Jayawardenepura
        </option>
        <option value="Kathmandu">(GMT+05:45) Kathmandu</option>
        <option value="Almaty">(GMT+06:00) Almaty</option>
        <option value="Astana">(GMT+06:00) Astana</option>
        <option value="Dhaka">(GMT+06:00) Dhaka</option>
        <option value="Urumqi">(GMT+06:00) Urumqi</option>
        <option value="Rangoon">(GMT+06:30) Rangoon</option>
        <option value="Bangkok">(GMT+07:00) Bangkok</option>
        <option value="Hanoi">(GMT+07:00) Hanoi</option>
        <option value="Jakarta">(GMT+07:00) Jakarta</option>
        <option value="Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
        <option value="Novosibirsk">(GMT+07:00) Novosibirsk</option>
        <option value="Beijing">(GMT+08:00) Beijing</option>
        <option value="Chongqing">(GMT+08:00) Chongqing</option>
        <option value="Hong Kong">(GMT+08:00) Hong Kong</option>
        <option value="Irkutsk">(GMT+08:00) Irkutsk</option>
        <option value="Kuala Lumpur">(GMT+08:00) Kuala Lumpur</option>
        <option value="Perth">(GMT+08:00) Perth</option>
        <option value="Singapore">(GMT+08:00) Singapore</option>
        <option value="Taipei">(GMT+08:00) Taipei</option>
        <option value="Ulaanbaatar">(GMT+08:00) Ulaanbaatar</option>
        <option value="Osaka">(GMT+09:00) Osaka</option>
        <option value="Sapporo">(GMT+09:00) Sapporo</option>
        <option value="Seoul">(GMT+09:00) Seoul</option>
        <option value="Tokyo">(GMT+09:00) Tokyo</option>
        <option value="Yakutsk">(GMT+09:00) Yakutsk</option>
        <option value="Adelaide">(GMT+09:30) Adelaide</option>
        <option value="Darwin">(GMT+09:30) Darwin</option>
        <option value="Brisbane">(GMT+10:00) Brisbane</option>
        <option value="Canberra">(GMT+10:00) Canberra</option>
        <option value="Guam">(GMT+10:00) Guam</option>
        <option value="Hobart">(GMT+10:00) Hobart</option>
        <option value="Melbourne">(GMT+10:00) Melbourne</option>
        <option value="Port Moresby">(GMT+10:00) Port Moresby</option>
        <option value="Sydney">(GMT+10:00) Sydney</option>
        <option value="Vladivostok">(GMT+10:00) Vladivostok</option>
        <option value="Magadan">(GMT+11:00) Magadan</option>
        <option value="New Caledonia">(GMT+11:00) New Caledonia</option>
        <option value="Solomon Is.">(GMT+11:00) Solomon Is.</option>
        <option value="Srednekolymsk">(GMT+11:00) Srednekolymsk</option>
        <option value="Auckland">(GMT+12:00) Auckland</option>
        <option value="Fiji">(GMT+12:00) Fiji</option>
        <option value="Kamchatka">(GMT+12:00) Kamchatka</option>
        <option value="Marshall Is.">(GMT+12:00) Marshall Is.</option>
        <option value="Wellington">(GMT+12:00) Wellington</option>
        <option value="Chatham Is.">(GMT+12:45) Chatham Is.</option>
        <option value="Nuku'alofa">(GMT+13:00) Nuku'alofa</option>
        <option value="Samoa">(GMT+13:00) Samoa</option>
        <option value="Tokelau Is.">(GMT+13:00) Tokelau Is.</option>
      </select>

      @if(aTimeZone?.errors?.['required'])
      {<div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div>}

    </div>

    <div class="col-12 mb-3">
      <label for="Currency" class="form-check-label">Currency</label>

      <select
        class="form-select is-invalid"
        formControlName="aCurrency"
        [class]="{'is-valid':aCurrency?.valid&&aCurrency?.dirty,'is-invalid':aCurrency?.invalid&&aCurrency?.dirty}"
        placeholder="text"
        id="Currency"
        aria-describedby="validationServer04Feedback"
        required
      >

        <option selected="selected" value="SEK">EGP</option>
        <option value="EUR">EUR</option>
        <option value="EUR">USD</option>
        <option value="GBP">GBP</option>
        <option value="DKK">DKK</option>
      </select>
      @if(aCurrency?.errors?.['required'])
      {<div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div>}

    </div>

    <div><h5 class="fw-bolder opacity-75 my-3">Phone Numbers</h5></div>

    <div class="form-floating col-12 mb-3">

      <input
        type="text"
        class="form-control is-invalid"
        formControlName="firstPhNum"
        [class]="{'is-valid':firstPhNum?.valid&&firstPhNum?.dirty,'is-invalid':firstPhNum?.invalid&&firstPhNum?.dirty}"
        placeholder="text"
        id="floatingInput"
        aria-describedby="validationServer05Feedback"
        required
      />
      <label for="floatingInput" class="ms-3"
      >Mobile phone number</label
    >
      @if(firstPhNum?.errors?.['required'])
      { <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid phone number.
      </div>}
      @if (firstPhNum?.errors?.['maxLength']){<div class="invalid-feedback">your last name must be less than 20 character!</div>}
      @else if (firstPhNum?.errors?.['minLength']){<div class="invalid-feedback">your last name must be more than 4 character!</div>}

    </div>

    <div class="form-floating col-md-12 mb-3">

      <input
        type="text"
        class="form-control is-invalid"
        formControlName="secondPhNum"
        [class]="{'is-valid':secondPhNum?.valid&&secondPhNum?.dirty,'is-invalid':secondPhNum?.invalid&&secondPhNum?.dirty}"
        placeholder="text"
        id="floatingInput"
        aria-describedby="validationServer05Feedback"
        required
      />
      <label for="floatingInput" class="ms-3"
      >Other phone numbers</label
    >
      @if (secondPhNum?.errors?.['maxLength']){<div class="invalid-feedback">your last name must be less than 20 character!</div>}
      @else if (secondPhNum?.errors?.['minLength']){<div class="invalid-feedback">your last name must be more than 4 character!</div>}

    </div>

    <div class="col-12">
      <button class="btn btn-dark" [disabled]="form.invalid" type="submit">Save</button>
    </div>
  </form>
</div>
