
<section class="bg-white p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
          <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-5">
                    <h2 class="h3 text-primary">Choose a new password</h2>
                    <h3 class="fs-6 fw-normal text-secondary m-0">Enter your new password</h3>
                  </div>
                </div>
              </div>
              <form  [formGroup]="form" (ngSubmit)=" updatePassword()">
                <div class="row gy-3 overflow-hidden">
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="password" id="password"  placeholder="Password"  formControlName="password"  [ngClass]="{
                        'is-valid': form.controls['password'].valid, 
                        'is-invalid': form.controls['password'].invalid && form.controls['password'].touched
                        }">
                      <div class="valid-feedback">
                      </div>
                      <div class="invalid-feedback">
                         @if(form.controls['password'].hasError("required")){
                            <span>Password is required </span>
                         }@else if (form.controls['password'].hasError("minLength")) {
                            <span>password length not less than 8 characters  </span>
                         } @else if (form.controls['password'].hasError("pattern")) {
                            <span>Password contains at least one lowercase, one uppercase, at least one digit and special character</span>
                         }
                         
                      </div>
                      <label for="password" class="form-label">New Password</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="reppassword" id="reppassword"  placeholder="Password"  formControlName="confirmPassword" [ngClass]="{
                        'is-valid': form.controls['confirmPassword'].valid, 
                        'is-invalid':form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched
                        }">
                      <div class="valid-feedback">
                        <span>Password matched</span> 
                       </div>
                       <div class="invalid-feedback">
                     @if(form.controls['confirmPassword'].hasError("required")){
                          <span>Password is required</span> 
                       }@else if(form.hasError("mismatch")){
                        <span>Password must be matched</span> 
                     }
                       
                       </div>
                      <label for="password" class="form-label">Repeat your password</label>
                    </div>
               
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn bsb-btn-2xl btn-primary" type="submit" [disabled]="form.invalid">Save new Password</button>
                    </div>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>