<footer class="row p-4 p-md-5">

   
    <div class="footer-links row p-0 p-md-3">
        <div class="col-6 col-md-3">
            <ul>
                <p><b>Platform</b></p>
                <li><a href="">Browse Mentors</a></li>
                <li><a href="">Book a Session</a></li>
                <li><a href="">Become a Mentor</a></li>
                <li><a href="">Wall Of love</a></li>
            </ul>

        </div>
        <div class="col-6 col-md-3">
            <ul>
                <p><b>Resources</b>
                <p>
                    <li><a href="">Newsletter</a></li>
                    <li><a href="">Case Studies</a></li>
                    <li><a href="">Books</a></li>
                    <li><a href="">Templates</a></li>
                    <li><a href="">Blog</a></li>
            </ul>

        </div>
        <div class="col-6 col-md-3">
            <ul>
                <p><b>Company</b></p>
                <li><a href="">About</a></li>
                <li><a href="">Partner Program</a></li>
                <li><a href="">Books</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Meet The Team</a></li>
            </ul>

        </div>
        <div class="col-6 col-md-3">
            <ul>
                <p><b>Support</b></p>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Join Community</a></li>
            </ul>

        </div>
    </div>
    <div class="copy-rights mt-4">
        <p style="text-align: center; "> © 2024. All Rights Reserved. </p>
    </div>

</footer>