
<footer class="footer">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-4  col-6">
                <h5 class="footer-heading">About</h5>
                <ul class="footer-links">
                    <li><a href="#">Artist Database</a></li>
                    <li><a href="#">Sell on Our Platform</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="col-lg-4  col-6">
                <h5 class="footer-heading">Contact</h5>
                <ul class="footer-links">
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Live Chat</a></li>
                </ul>
            </div>
            <div class="col-lg-4  col-12">
                <h5 class="footer-heading">Newsletter</h5>
                <form class="newsletter d-flex">
                    <input type="email" placeholder="Enter your email" class="form-control">
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 footer-bottom">
                <p>&copy; 2024 YourCompany. All rights reserved. | <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>