.footer {
    background-color: #F3F3F3;
    color: #2b2b2b;
    padding: 40px;
    border-bottom: 1px solid rgb(212, 211, 210) ;
    text-align: center;
}
.footer   a,p,h6 {
    color: #2b2b2b !important; 
    text-decoration: none;
}
.footer  a:hover {
    color: #C54513 !important;
}
.footer .footer-heading {
    margin-bottom: 20px;
}
.footer .footer-links {
    padding: 0px !important;

}
.footer .footer-links li {
    list-style: none;
    margin-bottom: 10px;
}
.footer .newsletter {
    padding: 0px;

}
.footer .newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 0;
    flex: 1;
}
.footer .newsletter button {
    background-color: rgb(229, 124, 35);
    color: #7A7A7A;
    border: none;
    padding: 10px 20px;
}
.footer .newsletter button:hover {
    background-color: #e57a23;
}
.footer-bottom {
    border-top: 1px solid #4d5866;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}