footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li {
    margin-bottom: 7px;
}

footer ul li a:hover {
    color: rgb(229, 124, 35);

}
footer ul li a:focus {
    color: rgb(229, 124, 35);

}

footer ul {
    list-style: none;
}

footer {
    background-color:#003285 ;
    height: auto;
    color: rgb(229, 124, 35);
}

