
<footer class="footer justify-content-center">
    <div class="container">
        <div class="row">
           
            <div class="col-sm-4  col-12 ">
                <h5 class="footer-heading"><a routerLink="about">About</a></h5>
                
            </div>
            <div class="col-sm-4  col-12">
                <h5 class="footer-heading"><a routerLink="contact">Contact</a></h5>
               
            </div>
           
            <div class="col-sm-4  col-12">
                <h5 class="footer-heading"><a routerLink="faq">FAQ</a></h5>
               
            </div>
           
        </div>
        <div class="row">
            <div class="col-12 footer-bottom">
                <p>&copy; 2024 YourCompany. All rights reserved. | <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>