
.bid-info{
    padding:15px 20px !important;
    max-height: 150px;
    border-radius: 10px;
}
.estimate-price,.end-date,.bid-limits{
    font-size: 12px !important;
    color: #5a5d74;
}
.title{
    font-size: 16px;
    font-weight: 600;
    color: rgb(14, 14, 16);
    line-height: 1.5;
}


  .thumb img {
    max-width: 100% !important;
    margin: 2px !important;
  }


#item-slider img{
    border-radius: 10px;

}
   .thumb{
    width:100px !important;
    margin: 5px !important;
    display: inline-block !important;
    cursor: pointer !important;

   }

.thumb-list-images{
    margin-top: 15px !important;
    text-align: center !important;
    overflow:auto  !important;
    height: 150px !important;
}

.star {
    color: gold;
}
.seller-info {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}


/* .bid{
    max-height: auto !important;
} */


.highlight {
  background-color: rgb(93, 255, 93);
  transition: background-color 1s ease-out;
}

.single-bid{
padding:10px;
}