<div class="container mt-4">
  <h2>Add Event</h2>
  @if(event){
    <div class="text-center">
    <h5>"An event is already open wait until it ends then add new Event"</h5>
  </div>

  }
  @else{
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <!-- Event Name -->
      <div class="form-floating mb-3">
        <input type="text" id="eventName" class="form-control" formControlName="name" placeholder="Event Name" required>
        <label for="eventName" class="form-label">Event Name</label>
      </div>
  
      <!-- Description -->
      <div class="form-floating mb-3">
        <input type="text" id="eventDescription" class="form-control" formControlName="description" placeholder="Description" required>
        <label for="eventDescription" class="form-label">Description</label>
      </div>
  
      <!-- Start Date and End Date (Side by Side) -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="date" id="eventStartDate" class="form-control" formControlName="startDate" placeholder="Start Date" required>
            <label for="eventStartDate" class="form-label">Start Date</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="date" id="eventEndDate" class="form-control" formControlName="endDate" placeholder="End Date" required>
            <label for="eventEndDate" class="form-label">End Date</label>
          </div>
        </div>
      </div>
  
      <!-- Category -->
      <div class="form-floating mb-3">
        <select id="category" class="form-select" formControlName="category" (change)="onCategoryChange($event)" required>
          <option value="0" selected>Select Category</option> <!-- الخيار الافتراضي -->
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        
        <label for="category" class="form-label">Category</label>
      </div>
  
      <!-- Inactive Items Table -->
      <div class="table-wrapper" *ngIf="inactiveItems.length > 0">
        <table class="table table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Start Price</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of inactiveItems">
              <td><img src="http://localhost:5204/{{item.images[0].src}}" alt="{{ item.name }}" class="item-image"></td>
              <td>{{ item.name }}</td>
              <td>{{ item.description | shortText }}</td>
              <td>${{ item.startPrice }}</td>
              <td>
                <input type="checkbox" (change)="onItemSelect($event, item.id)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Selected Items -->
  <!-- Selected Items 
  <div *ngIf="selectedItems.length > 0" class="mt-4 selected-items-wrapper">
    <h4>Selected Items</h4>
    <ul class="list-group">
      <li *ngFor="let selectedItem of selectedItems" class="list-group-item selected-item">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ selectedItem.name }}</span>
          <span>${{ selectedItem.price }}</span>
        </div>
        <p>{{ selectedItem.description }}</p>
      </li>
    </ul>
  </div>
  
   -->
      <!-- Image Upload -->
      <div class="form-floating mb-3 file-upload-wrapper">
        <input type="file" id="auctionImage" formControlName="image" (change)="onFileChange($event)" class="form-control file-input" required />
        <span class="file-name">{{ fileName || 'No image chosen' }}</span>
        <button type="button" class="btn btn-secondary custom-file-btn" (click)="triggerFileInput()">Choose event image</button>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="(eventForm.invalid)||(selectedItems.length<1)">Add Event</button>
    </form>
  }
  
</div>
