<div class="container-fluid my-5">
  <div class="container">


    <div class="container d-flex justify-content-between p-0">

      <!-- d-none for responsive -->
      <div class="col-3 d-none d-lg-block">
        <div id="sidebar-accordion" class="d-flex flex-column rounded-2">

        <div id="sidebar" class="d-flex flex-column  rounded-2">
          <div class=" ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle"
            style="background-color: #f0f0f3;">
            <p class="text-dark fw-bold pt-2">User</p>
          </div>

          <nav class="nav flex-column">
            <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <img src="profile-1335-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="profile" routerLinkActive="active">profile</a>
              </div>
            </div>

            <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <img src="setting-5-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="profile-setting"
                  routerLinkActive="active">profile-setting</a>
              </div>
            </div>

            <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <img src="verify-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="verify-identity"
                  routerLinkActive="active">verify-identity</a>
              </div>
            </div>

            <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <img src="payment-card-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="payment" routerLinkActive="active">payment</a>
              </div>
            </div>

          </nav>
        </div>

        <div  *ngIf="isSeller()" id="sidebar" class="d-flex flex-column mt-3 rounded-2">
          <div class="ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle" style="background-color: #f0f0f3">
            <p class="text-dark fw-bold pt-2">Seller</p>
          </div>

          <nav class="nav flex-column">
            <!-- My Items Accordion -->
            <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8;">
              <div class="d-flex align-items-center">
                <div>
                  <img src="small-image/item-svgrepo-com.svg" width="20px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75" data-bs-toggle="collapse" href="#myItemsAccordion"
                  role="button" aria-expanded="false" aria-controls="myItemsAccordion">
                  My Items
                </a>
              </div>
              <!-- My Items Accordion Content -->
              <div class="collapse" id="myItemsAccordion" data-bs-parent="#sidebar-accordion">
                <div class="ps-2">
                  <ul class="list-unstyled">
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="pending-items">Pending</a>
                      </div>
                    </li>
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="accepted-items">Accepted</a>
                      </div>
                    </li>
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="rejected-items">Rejected</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!--  Auctions Accordion -->
            <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8;">
              <div class="d-flex align-items-center">
                <div>
                  <img src="small-image/auction-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75" data-bs-toggle="collapse" href="#AuctionsAccordion"
                  role="button" aria-expanded="false" aria-controls="unpaidAuctionsAccordion">
                  Auctions
                </a>
              </div>
              <!--  Auctions Accordion Content -->
              <div class="collapse" id="AuctionsAccordion" data-bs-parent="#sidebar-accordion">
                <div class="ps-2">
                  <ul class="list-unstyled">
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="live-auction">Live Auctions</a>
                      </div>
                    </li>
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="upcoming-auctions">Upcoming Auctions</a>
                      </div>
                    </li>
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="complete-auction">paid Auctions</a>
                      </div>
                    </li>
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="waiting-auction">Unpaid Auctions</a>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <img src="star-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="reviews"  routerLinkActive="active">Reviews</a>
              </div>
            </div>
            <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <img src="small-image/money-bag-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="seller-earnings"
                  routerLinkActive="active">Earnings</a>
              </div>
            </div>
          </nav>
        </div>

        <div id="sidebar" class="d-flex flex-column mt-3 rounded-2">
          <div class="ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle" style="background-color: #f0f0f3">
            <p class="text-dark fw-bold pt-2">Buyer</p>
          </div>

          <nav class="nav flex-column">

            <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8;">
              <div class="d-flex align-items-center">
                <div>
                  <img src="small-image/auction-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75" data-bs-toggle="collapse" href="#BuyerAuctionsAccordion"
                  role="button" aria-expanded="false" aria-controls="unpaidAuctionsAccordion">
                  Auctions
                </a>
              </div>
              <!--  Auctions Accordion Content -->
              <div class="collapse" id="BuyerAuctionsAccordion" data-bs-parent="#sidebar-accordion">
                <div class="ps-2">
                  <ul class="list-unstyled">
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="buyer-live-auctions">Live Auctions</a>
                      </div>
                    </li>
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="won-auction">Won Auctions</a>
                      </div>
                    </li>
                    <li>
                      <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2">
                        <a style="text-decoration: none;" routerLink="lost-auction">Lost Auctions</a>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <i class="far fa-eye" style="line-height: 1; color: rgb(108, 108, 108);"></i>
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="watchlist" routerLinkActive="active">My
                  Watchlist</a>
              </div>
            </div>
            <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">
                <div>
                  <img src="shipping-fast-solid-svgrepo-com.svg" width="17px" alt="profile" />
                </div>
                <a class="nav-link text-dark opacity-75  " routerLink="shipping" routerLinkActive="active">shipping
                  Details</a>
              </div>
            </div>
            <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
              <div class="d-flex align-items-center">

                <div class="bi bi-exclamation-triangle"></div>
                <a class="nav-link text-dark opacity-75  " routerLink="complain-add" routerLinkActive="active">Make
                  Complaint</a>
              </div>
            </div>


          </nav>
        </div>
        </div>
      </div>

      <div class="col-lg-8 col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>