<div class="container-fluid my-5">
  <div class="container">


  <div class="container d-flex justify-content-between p-0">

    <!-- d-none for responsive -->
    <div class="col-3 d-none d-lg-block">

      <div id="sidebar" class="d-flex flex-column  rounded-2">
        <div class=" ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle" style="background-color: #f0f0f3;">
          <p class="text-dark fw-bold pt-2">User</p>
        </div>

        <nav class="nav flex-column">
          <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="profile-1335-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="profile"
                routerLinkActive="active">profile</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="setting-5-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="profile-setting"
                routerLinkActive="active">profile-setting</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="verify-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="verify-identity"
                routerLinkActive="active">verify-identity</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="payment-card-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="payment"
                routerLinkActive="active">payment</a>
            </div>
          </div>

        </nav>
      </div>

      <div id="sidebar" class="d-flex flex-column mt-3 rounded-2">
        <div class="ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle" style="background-color: #f0f0f3">
          <p class="text-dark fw-bold pt-2">Seller</p>
        </div>

        <nav class="nav flex-column">
          <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/auction-svgrepo-com.svg" width="20px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="modify-action"
                routerLinkActive="active">My Auction</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/waiting-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <!--  Waiting Auctions  -->
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="waiting-auction"
                routerLinkActive="active">Unpaid Auctions</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/completed-order-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="complete-auction"
                routerLinkActive="active">Completed Auctions</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="star-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="reviews"
                routerLinkActive="active">Reviews</a>
            </div>
          </div>
          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/money-bag-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="seller-earnings"
                routerLinkActive="active">Earnings</a>
            </div>
          </div>

          <!-- <div
            class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2"
            style="background-color: #f6f6f8"
          >
            <div class="d-flex align-items-center">
              <div>
                <img
                  src="small-image/win-svgrepo-com.svg"
                  width="17px"
                  alt="profile"
                />
              </div>
              <a
                class="nav-link text-dark opacity-75 fw-semibold"
                routerLink="/action/create-auction"
                routerLinkActive="active"
                >Create Auctions</a
              >
            </div>
          </div> -->

          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/live-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="live-auction"
                routerLinkActive="active">Live Auctions</a>
            </div>
          </div>
        </nav>
      </div>

      <div id="sidebar" class="d-flex flex-column mt-3 rounded-2">
        <div class="ps-3 pt-2 m-0 rounded-top-2 border-bottom border-light-subtle" style="background-color: #f0f0f3">
          <p class="text-dark fw-bold pt-2">Buyer</p>
        </div>

        <nav class="nav flex-column">

          <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/auction-svgrepo-com.svg" width="20px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="buyer-live-auctions"
                routerLinkActive="active">My Auction</a>
            </div>
          </div>
          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <i class="far fa-eye" style="line-height: 1; color: rgb(108, 108, 108);"></i>
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="watchlist" routerLinkActive="active">My
                Watchlist</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/win-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="won-auction"
                routerLinkActive="active">Won Auctions</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="small-image/heart-broken-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="lost-auction"
                routerLinkActive="active">Lost Auctions</a>
            </div>
          </div>

          <div class="ps-4 pb-1 pt-1 m-0 border-bottom border-light-subtle" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
              <div>
                <img src="shipping-fast-solid-svgrepo-com.svg" width="17px" alt="profile" />
              </div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="shipping"
                routerLinkActive="active">shipping Details</a>
            </div>
          </div>
          <div class="ps-4 pb-1 pt-1 m-0 rounded-bottom-2" style="background-color: #f6f6f8">
            <div class="d-flex align-items-center">
          
                <div class="bi bi-exclamation-triangle"></div>
              <a class="nav-link text-dark opacity-75 fw-semibold" routerLink="complain-add" routerLinkActive="active">Make Complaint</a>
            </div>
          </div>
          

        </nav>
      </div>
    </div>

    <div class="col-lg-8 col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
</div>
