<div class="container mt-4">
  <!-- Tabs -->
  <ul class="nav nav-tabs" id="auctionTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-fav-auctions"
        type="button" role="tab" aria-controls="active-auctions" aria-selected="true">Active Auctions</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link " id="active-tab" data-bs-toggle="tab" data-bs-target="#ended-fav-auctions"
        type="button" role="tab" aria-controls="ended-auctions" aria-selected="true">Ended Auctions</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="ended-tab" data-bs-toggle="tab" data-bs-target="#fav-categories" type="button"
        role="tab" aria-controls="categories" aria-selected="false">Categories</button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="auctionTabsContent">
    <!-- Active Auctions Tab -->
    <div class="tab-pane fade show active" id="active-fav-auctions" role="tabpanel" aria-labelledby="active-tab">
      <div *ngIf="activefavAuctions.length === 0" class="text-center mt-5">
        <i class="fa-heart far" style="font-size: 30px;"></i>
        <h3 class="mt-3">You have no items in your Watchlist.</h3>
        <p class="text-muted">Start adding items to your Watchlist today!</p>
        <a routerLink="../../action/auction-list" class="btn btn-primary mt-2">Explore our Auctions</a>
      </div>
      <div *ngIf="activefavAuctions.length !== 0" class="table-responsive">
        <table class="table table-hover align-middle">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Ends</th>
              <th scope="col">Reserve price</th>
              <th scope="col">Current bid</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activefavAuction of activefavAuctions;let i=index;">
              <td>
                <div class="d-flex align-items-center">
                  <div id="carouselExample{{i}}" class="carousel slide w-75">
                    <div class="carousel-inner">
                      <div *ngFor="let image of activefavAuction.auction.item.images; let j = index"
                        [class.active]="j === 0" class="carousel-item"
                        [routerLink]="['../../action/auction-details', activefavAuction.auction.id]"
                        style="cursor: pointer;">
                        <img [src]="'http://localhost:5204/' + image.src" class="d-block w-100 rounded-2">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExample' + i"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExample' + i"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </td>

              <td>{{activefavAuction.auction.endDate|date}}</td>
              <td>{{activefavAuction.auction.item.startPrice}}</td>
              <td>{{activefavAuction.auction.bids.count}}</td>
              <td>
                <button class="btn  " title="Delete" (click)="setSelectedAuctionId(activefavAuction.auction.id)"
                  data-bs-target="#myModal" data-bs-toggle="modal">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary mt-2" data-bs-target="#deleteAll" data-bs-toggle="modal">Delete</button>
      </div>

      <!-- deletoin modal -->
      <!-- Modal HTML -->
      <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">Are you sure?</h4>
              <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-secondary" (click)="remove()" data-bs-dismiss="modal">Yes,
                Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div id="deleteAll" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">Are you sure?</h4>
              <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-secondary" (click)="deleteAll()" data-bs-dismiss="modal">Yes,
                Delete</button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Ended Auctions Tab -->
    <div class="tab-pane fade " id="ended-fav-auctions" role="tabpanel" aria-labelledby="active-tab">
      <div *ngIf="endedfavAuctions.length === 0" class="text-center mt-5">
        <i class="fa-heart far" style="font-size: 30px;"></i>
        <h3 class="mt-3">You have no items in your Watchlist.</h3>
        <p class="text-muted">Start adding items to your Watchlist today!</p>
        <a routerLink="../../action/auction-list" class="btn btn-primary mt-2">Explore our Auctions</a>
      </div>
      <div *ngIf="endedfavAuctions.length !== 0" class="table-responsive">
        <table class="table table-hover align-middle">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Ends</th>
              <th scope="col">Reserve price</th>
              <th scope="col">Current bid</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let endedfavAuction of endedfavAuctions;let i=index;">
              <td>
                <div class="d-flex align-items-center">
                  <div id="carouselExample{{i}}" class="carousel slide w-75">
                    <div class="carousel-inner">
                      <div *ngFor="let image of endedfavAuction.auction.item.images; let j = index"
                        [class.active]="j === 0" class="carousel-item"
                        [routerLink]="['../../action/auction-details', endedfavAuction.auction.id]"
                        style="cursor: pointer;">
                        <img [src]="'http://localhost:5204/' + image.src" class="d-block w-100 rounded-2">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExample' + i"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExample' + i"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </td>

              <td>{{endedfavAuction.auction.endDate| date}}</td>
              <td>{{endedfavAuction.auction.item.startPrice}}</td>
              <td>{{endedfavAuction.auction.bids.count}}</td>
              <td>
                <button class="btn  " title="Delete" (click)="setSelectedAuctionId(endedfavAuction.auction.id)"
                  data-bs-target="#endedmodal" data-bs-toggle="modal">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary mt-2" data-bs-target="#deleteAllended" data-bs-toggle="modal">Delete</button>
      </div>

     <!-- deletoin modal -->
      <!-- Modal HTML -->
      <div id="endedmodal" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">Are you sure?</h4>
              <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-secondary" (click)="remove()" data-bs-dismiss="modal">Yes,
                Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div id="deleteAllended" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">Are you sure?</h4>
              <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-secondary" (click)="deleteAll()" data-bs-dismiss="modal">Yes,
                Delete</button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Fav Categories Tab -->
    <div class="tab-pane fade" id="fav-categories" role="tabpanel" aria-labelledby="ended-tab">
      <!-- Similar table structure can be placed here for ended auctions -->
      <div class="text-align-center">
        <p>No ended auctions.</p>
      </div>
    </div>
  </div>



</div>