.nav-pills .active {

    background-color: transparent !important;
    color: #1e0f57 !important;
    border: none !important;

}

.nav-pills a {
    color: #64748b;

}

.custum-container {
    margin-left: 10rem;
    margin-right: 10rem;

}

.custum-btn {
    background-color: #1e0f57 !important;

}

@media (max-width:1700px) {
    .custum-container {
        margin-left: 5rem;
        margin-right: 5rem;

    }

}

@media (max-width:700px) {
    .custum-container {
        margin-left: 1rem;
        margin-right: 1rem;

    }
}



.modal-confirm {
    color: #636363;
    width: 400px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
  }
  .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
  }
  .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
  
  
  }
  .modal-confirm .modal-body {
    color: #999;
  }
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
    justify-content: center;
  }
  .modal-confirm .modal-footer a {
    color: #999;
  }
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid rgba(229, 126, 35);
  }
  .modal-confirm .icon-box i {
    color: rgba(229, 126, 35);
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
  }
  .modal-confirm .btn-info {
    background: #c1c1c1;
  }
  .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
  }
  
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
  
  .carousel-inner img{
    max-width: 160px;
    max-height: 160px;
  }
  .card-icon{
    position: absolute;
    top: 50%;
    right: 5%;
    padding: 4px 7px;
    border-radius: 5px;
  }
  .pagination-controls a {
    text-decoration: none !important; 
  }