<div class="pt-3 pe-3" id="chat-messages" class="chat-messages" style="height: 100%;width: 100%;">
  <!-- Chat Messages -->

   @if (allMessages != null) {
   @for (message of allMessages; track $index;let i = $index) {

    @if (message.sender == true) {
    <div class="w-100 rounded-2 my-1 bg-light">
      <div class="d-flex p-2 align-items-center  me-1 justify-content-end">
        <div class="w-75 col-9">
          <p class="float-end">
            {{message.message}}
          </p>
        </div>
          <div class="text-center col-3">
            <span style="font-size: small;">~{{message.userName}}</span><br>
            <span style="font-size: small;">{{message.time|date:"shortTime"}}</span>
          </div>
      </div>
    </div>
  }
  @if(message.sender == false) {
    <div class="w-100 rounded-2 my-1 bg-success-subtle">
      <div class="d-flex p-2 align-items-center ">
          <div class="text-center me-2">
            <span style="font-size: small;">~{{message.userName}}</span><br>
            <span style="font-size: small;">{{message.time|date:"shortTime"}}</span>
          </div>
        <div class="w-75">
          <p>
            {{message.message}}
          </p>
        </div>
      </div>
    </div>
      }
    }
  }
</div>
<!-- Message Input -->
<div class="container-fluid px-3 px-md-5">
<div class="row">
  <div class="col-12 d-flex align-items-center pe-4 pt-3 mt-2 message-input-container">
  <input type="text" #message class="form-control form-control-lg message-input" placeholder="Type message" />
  <button (click)="sendMessage(message.value)" class="btn btn-primary ms-3"><i class="fas fa-paper-plane"></i></button>
</div>
</div>
</div>
