<div class="container mt-4">
  <form [formGroup]="searchForm" class="search-container mb-4">
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Search by reason ..." formControlName="reason">
    </div>
    <div class="input-group mb-2">
      <input type="date" class="form-control" placeholder="Start Date" formControlName="startDate">
    </div>
    <div class="input-group mb-2">
      <input type="date" class="form-control" placeholder="End Date" formControlName="endDate">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Seller Name" formControlName="sellerName">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Buyer Name" formControlName="buyerName">
    </div>
  </form>

  <div class="table-wrapper">
    <ngx-datatable
      #datatable
      class="bootstrap"
      [rows]="currentPageComplaints"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      (sort)="onSort($event)"
      (page)="onPage($event)"
      [sortType]="sortType"
    >
      <ngx-datatable-column name="Reason" prop="reason" [width]="300"></ngx-datatable-column>
      <ngx-datatable-column name="Seller Name" prop="sellerName" [width]="200"></ngx-datatable-column>
      <ngx-datatable-column name="Buyer Name" prop="buyerName" [width]="200"></ngx-datatable-column>
      <ngx-datatable-column name="Date Submitted" [cellTemplate]="dateSubmittedTemplate" [width]="150"></ngx-datatable-column>
    </ngx-datatable>

    <ng-template #dateSubmittedTemplate let-value="value">
      {{ value ? (value | date:'yyyy-MM-dd') : '' }}
    </ng-template>
  </div>

  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="#" (click)="goToPage(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
        <a class="page-link" href="#" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="#" (click)="goToPage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
