<div class="container mt-4">
  <form [formGroup]="searchForm" class="search-container mb-4">
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Search by reason ..." formControlName="reason">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Seller Email" formControlName="selleremail">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Buyer Email" formControlName="buyeremail">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Seller Name" formControlName="sellerName">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Buyer Name" formControlName="buyerName">
    </div>
  </form>

  <div class="table-wrapper">
    <ngx-datatable
      #datatable
      class="bootstrap"
      [rows]="currentPageComplaints"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      (sort)="onSort($event)"
      [sortType]="sortType"
      [scrollbarH]="true">

    >
    <ngx-datatable-column name="Reason" prop="reason" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Buyer Email" prop="buyeremail" [flexGrow]="3"></ngx-datatable-column>
    <ngx-datatable-column name="Buyer Name" prop="buyerName" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Seller Email" prop="selleremail" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="Seller Name" prop="sellerName" [flexGrow]="1"></ngx-datatable-column>
   
    
    </ngx-datatable>

   
  </div>

  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="#" (click)="goToPage(currentPage - 1); $event.preventDefault()">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
        <a class="page-link" href="#" (click)="goToPage(page); $event.preventDefault()">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="#" (click)="goToPage(currentPage + 1); $event.preventDefault()">Next</a>
      </li>
    </ul>
  </nav>
</div>
