.chat-avatar {
  width: 45px;
  height: 45px;
}
.bg-primary-custom {
  background-color: #007bff !important;
}
.bg-body-custom {
  background-color: #f8f9fa !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.rounded-3 {
  border-radius: .375rem !important;
}
.emoji-picker {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 60px;
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.emoji-picker button {
  font-size: 20px;
  margin: 2px;
  border: none;
  background: none;
}
