
<section class="section-50">
    <div class="container">
        <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell" style="color: rgb(229, 124, 35);"></i></h3>
        <div class="notification-ui_dd-content">
            @for( notification of slicingNotifications; track $index){
                <div class="notification-list notification-list--unread">
                    <div class="notification-list_content">

                        <div class="notification-list_detail">
                            <p class="text">{{notification.description}}</p>
                            <p class="text-muted"><small>{{notification.time|date:"medium"}} <span class="text-muted">ago</span> </small></p>
                        </div>
                    </div>

                </div>
            }


        </div>

        <div class="text-center">
            <a type="button" class="dark-link" (click)="moeNotifications()">Load more</a>
        </div>

    </div>
</section>
