<div class="container">

    <h4 class="bg-dark text-light mb-4 p-3 rounded-2">Shipping Address</h4>
    <div class="mt-3">
        <form class="ms-4" [formGroup]="form">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="Street" id="floatingInput"
                    [class]="{'is-valid':Street?.valid&&Street?.dirty,'is-invalid':Street?.invalid&&Street?.dirty}"
                    placeholder="Address Line 1" required>
                <label for="floatingInput" class="ms-3">Street</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="City" id="floatingInput"
                    [class]="{'is-valid':City?.valid&&City?.dirty,'is-invalid':City?.invalid&&City?.dirty}"
                    placeholder="City" required>
                <label for="floatingInput" class="ms-3">City</label>
            </div>

            <div class=" row mb-3">
                <div class="form-floating col-md-6">
                    <select class="form-select" formControlName="Country"
                        [class]="{'is-valid':Country?.valid&&Country?.dirty,'is-invalid':Country?.invalid&&Country?.dirty}"
                        id="country" required>
                        <option value="">Select Country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="GB">United Kingdom</option>
                        <!-- Add more countries as needed -->
                    </select>
                </div>

                <div class="form-floating col-md-6">

                    <input type="text" class="form-control" formControlName="PostalCode" id="floatingInput"
                        [class]="{'is-valid':PostalCode?.valid&&PostalCode?.dirty,'is-invalid':PostalCode?.invalid&&PostalCode?.dirty}"
                        placeholder="Postal Code" required>
                    <label for="floatingInput" class="ms-3">Postal Code</label>
                </div>
            </div>
            <button type="submit" [disabled]="form.invalid" (click)="editShippingDetail()"
            class="btn btn-dark w-25">Add</button>
        </form>
    </div>
</div>
