<div class="container">
    <div class="main  p-md-5 p-3">
        <div class="row justify-content-between ">
            <div class="item-title">
                <h1>{{auction.item.name}}</h1>
            </div>

            <div class="col-xl-7  row mb-5 ">
                <div id="carousel{{auction.item.id}}" class="carousel slide col-12 mb-5">
                    <div class="carousel-inner mb-5">
                        @for(image of auction.item.images; track $index ; let i=$index){
                        <div class="carousel-item" [class.active]="i === 0">
                            <img [src]="image" class="d-block w-100" style="height: 80vh;">
                        </div>
                        }

                    </div>

                    <a class="carousel-control-prev" [attr.data-bs-target]="'#carousel' + auction.item.id" role="button"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    </a>
                    <a class="carousel-control-next" [attr.data-bs-target]="'#carousel' + auction.item.id" role="button"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    </a>

                    <div class="carousel-indicators">
                        @for( image of auction.item.images;track $index ;let i=$index){
                        <button class="w-25" type="button" [attr.data-bs-target]="'#carousel' + auction.item.id"
                            [attr.data-bs-slide-to]="i" [class.active]="i === 0">
                            <img [src]="image" class="d-block w-100" style="height: 15vh;">
                        </button>
                        }

                    </div>
                </div>

                <br>

            </div>

            <div class="bid col-xl-5  justify-content-center  p-md-0 mt-5 mt-md-0">
                <div class="bid-info-place  mb-3 ">
                    <div class="bid-info row bg-light  mb-3">
                        <div class="heighest-bid col-6">
                            <p>Current price</p>
                            @if (auction.bids.length==0) {
                              <h5>{{auction.item.startPrice}}EGP </h5>
                            }@else {
                               
                                <h5>{{auction.currentPrice}}EGP</h5>
                            }
    
                            <p class="estimate-price">Start price: {{auction.item.startPrice}}EGP</p>
                        </div>    
                        <div class="bid-ends-in col-6">
                            <p>Ends in:</p>
                            <h5 id="end-time">{{ countdown }}</h5>
                            <p class="end-date">{{ auctionEndDate | date: 'mediumDate' }}</p>
                        </div>
                    </div>



                </div>
                <div class="bid-history mt-0 mb-5 overflow-y-scroll overflow-x-hidden h-25">
                    <p class="title">Bid history</p>
                    @for (bid of allBids.slice().reverse(); track $index) {
                    <div class="row single-bid mb-1">

                        <div class="col-4 bidder">{{bid.buyerName}}</div>
                        <div class="col-4 bid-date">{{bid.bidTime|date:'mediumTime'}}</div>
                        <div class="col-4 bid-amount">{{bid.bidAmount}}</div>

                    </div>
                    }
                </div>


            </div>
        </div>

        <div class="row mt-5 mt-md-2">
            <div class="item-desc mb-4">
                <p class="title">Description</p>
                <p>{{auction.item.description}}</p>
            </div>
        </div>
    </div>
</div>