
.bid-info{
    padding:15px 20px !important;
    max-height: 150px;
    border-radius: 10px;
}
.estimate-price,.end-date,.bid-limits{
    font-size: 12px !important;
    color: #5a5d74;
}
.title{
    font-size: 16px;
    font-weight: 600;
    color: rgb(14, 14, 16);
    line-height: 1.5;
}

  
  .thumb img {
    max-width: 100% !important;
    margin: 2px !important;
  }


  .carousel-item img{
    border-radius: 10px;

}
   .thumb{
    width:100px !important;
    margin: 5px !important;
    display: inline-block !important;
    cursor: pointer !important;

   }

.thumb-list-images{
    margin-top: 15px !important;
    text-align: center !important;
    overflow:auto  !important;
    height: 150px !important;
}

.star {
    color: gold;
}
.seller-info {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.bidder img{
    width:40px;
    border-radius: 30px;
}
.single-bid{
margin-bottom: 15px;
align-items: center;

}
/*------------------------------- comment style -----------------------*/
  
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}
.the-heighst{
background-color: rgb(164, 248, 184);
}
  
  
/* .bid{
    max-height: auto !important;
} */


