.card-custom {
  border-radius: 15px;
  position: relative ;
  overflow: hidden ;
}
.card-custom:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-title-custom {
  color: #343a40;
  font-weight: 700;
}
.card-text-custom {
  color: #495057;
}
.btn-custom {
  background-color: #343a40;
  color: white;
  transition: background-color 0.3s;
}
.btn-custom:hover {
  background-color: #495057;
}
.action-image {
  border-radius: 15px;
}
.container-custom {
  padding: 20px;
}


.hover-button {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: none !important;
  z-index: 10 !important;
}

.card-custom:hover .hover-button {
  display: block !important;
}

.card-custom:hover .card-body {
  opacity: 0.3 !important;
}
.carousel-inner img{
  max-width: 160px;
  max-height: 160px;
}

th{
  font-size: 14px;
  font-weight: 500;
}
.pagination-controls a {
  text-decoration: none !important; 
}