.card-custom {
  border-radius: 15px;
}
.card-custom:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-title-custom {
  color: #343a40;
  font-weight: 700;
}
.card-text-custom {
  color: #495057;
}
.btn-custom {
  background-color: #343a40;
  color: white;
  transition: background-color 0.3s;
}
.btn-custom:hover {
  background-color: #495057;
}
.action-image {
  border-radius: 15px;
}
.container-custom {
  padding: 20px;
}
.carousel-inner img{
  max-width: 160px;
  max-height: 160px;
}
.pagination-controls a {
  text-decoration: none !important; 
}